@{
    ViewData["Title"] = "Автомобилна фотография в Пловдив | Интериор | Екстериор | Rolling Shots";
}

<!-- Page Header Start -->
<div class="container-fluid page-header-automotive py-5 mb-5 wow fadeIn" data-wow-delay="0.1s">
    <div class="container py-5">
        <h1 class="display-1 text-white animated slideInDown">Автомобилна фотография</h1>
        <nav aria-label="breadcrumb animated slideInDown">
            <ol class="breadcrumb text-uppercase mb-0">
                <li class="breadcrumb-item"><a class="text-white" asp-controller="Home" asp-action="Index">Начало</a></li>
                <li class="breadcrumb-item text-primary active" aria-current="page">Автомобилна фотография</li>
            </ol>
        </nav>
    </div>
</div>
<!-- Page Header End -->
<!-- Feature Automotive Photography Start -->
<div class="container-xxl py-5 mt-5">
    <div class="container">
        <div class="row g-5">
            <div class="col-lg-6 wow fadeInUp" data-wow-delay="0.1s">
                <h2 class="section-title">Автомобилна <span class="text-dark">фотография</span></h2>
                <!--<h1 class="display-5 mb-4">Целта ни е </h1>-->
                <div class="row mt-5 g-4">
                    <div class="col-12">
                        <div class="d-flex align-items-start">
                            <h1><i class="fa-solid fa-not-equal text-primary"></i></h1>
                            <div class="ms-4">
                                <h3>Автомобилна фотография ≠ снимка на кола</h3>
                                <p class="mb-3">Автомобилната фотография не е просто снимка на кола – тя е изкуство, което подчертава характера и дизайна на автомобила, като придава специфично усещане у зрителя.</p>
                                <p class="mb-3">Хората често бъркат обикновената снимка на кола с „автомобилна фотография“, но разликата се крие в детайлите. Зад нея стои идея, подходяща светлина, композиция и усещане за стил, допълващ автомобила.</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-12">
                        <div class="d-flex align-items-start">
                            <h1><i class="fa-solid fa-camera-retro text-primary"></i></h1>
                            <div class="ms-4">
                                <h3>Професионално заснемане на автомобили</h3>
                                <h5 class="mb-3">Нашият екип предлага професионална автомобилна фотография за Пловдив, както и за цялата страна. С опита ни в този стил и любовта ни към автомобилите ще създадем кадри, които впечатляват.</h5>
                                <h5 class="mt-5 mb-3"><i class="fa-solid fa-circle-check text-primary"></i> Заснемане на интериора и екстериора на автомобила</h5>
                                <h5 class="mb-3"><i class="fa-solid fa-circle-check text-primary"></i> Заснемане на детайли, подчертаващи вашия автомобил</h5>
                                <h5 class="mb-3"><i class="fa-solid fa-circle-check text-primary"></i> Кадри в движение (Rolling Shots) </h5>
                                <h5 class="mb-3"><i class="fa-solid fa-circle-check text-primary"></i> Предварително уговорена локация, подходяща за вашия автомобил</h5>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
            <div class="col-lg-6 wow fadeInUp" data-wow-delay="0.5s">
                <div class="feature-img">
                    <img class="img-fluid" src="~/img/about-9.jpg" alt="about3" style="max-height:650px">
                    <img class="img-fluid" src="~/img/about-8.jpg" alt="about3" style="max-height:550px">
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Feature Automotive Photography End -->
