@{
    ViewData["Title"] = "Автомобил";
}

<!-- Wedding Start -->
<div class="container-xxl px-0 py-5">
    <div class="col-lg-6 wow fadeInUp mx-auto text-center" data-wow-delay="0.5s">
        <div class="h-100">
            <p class="text-primary text-uppercase mb-2">Услуги</p>
            <h1 class="display-6 mb-4">АВТОМОБИЛ</h1>
            <p>Във <span class="text-primary"><b>PHOTONIC</b></span> предлагаме разнообразие от фотографски услуги, създадени да уловят и съхранят най-ценните ви моменти.</p>
            <hr class="w-50 mx-auto mb-5 mb-xl-9 border-dark-subtle">
        </div>
    </div>
    <div class="row g-0">
        <div class="col-lg-12 wow fadeIn" data-wow-delay="0.1s">
            <div class="row g-0 flex-sm-row">
                <div class="col-sm-6">
                    <div class="team-img-single position-relative">
                        <img class="img-fluid" src="~/img/service-8.jpg" alt="automobile">
                    </div>
                </div>
                <div class="col-sm-6">
                    <div class="h-100 p-5 d-flex flex-column justify-content-between">
                        <div class="mb-3">
                            <h4><i>„...Ще подберем правилните ъгли и светлина, за да покажем колата по начин, който отговаря на нейния характер – динамична, елегантна или просто практична и надеждна...“</i></h4>
                            <span class="text-primary">Цена от 100 лв</span>
                        </div>
                        <p>Имате автомобил, който искате да заснемем професионално? Без значение дали е паркиран на паркинг или в движение по улиците – ние ще уловим всеки детайл. Ще обърнем внимание на формата, интериора, светлините, джантите и всичко, което го прави отличителен. Ще подберем правилните ъгли и светлина, за да покажем колата по начин, който отговаря на нейния характер – динамична, елегантна или просто практична и надеждна.</p>
                        <p>Разбира се, не се ограничаваме само до паркинзи. Автомобилът ви може да бъде заснет на всяка една желана локация от вас или избрана такава от нас. Снимаме както на градски пейзажи, така и в природата, така и в индустриални пейзажи.</p>
                        <p>Можете да разчитате, че ще получите кадри, които показват колата както отвън, така и отвътре, и които подчертават нейния характер. Независимо дали желаете снимки за личен архив, за споделяне в социалните мрежи или снимки за обява ще получите резултат, който представя автомобила ви от най-добрата му страна.</p>
                        <div class="d-flex">
                            <a target="_blank" asp-action="ReserveByType" asp-controller="PhotoShoot" asp-route-photoShootType="@Category.Automotive" class="btn btn-square btn-outline-primary rounded-circle me-2"><i class="fa-solid fa-calendar-days"></i></a>
                            <a target="_blank" asp-action="Portfolio" asp-controller="Photo" asp-route-category="@Category.Automotive" class="btn btn-square btn-outline-primary rounded-circle me-2"><i class="fa-solid fa-images"></i></a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Wedding End -->