@{
    ViewData["Title"] = "Свето кръщене | Заснемане на Свето кръщене в Пловдив";
}

<!-- Page Header Start -->
<div class="container-fluid page-header py-5 mb-5 wow fadeIn" data-wow-delay="0.1s">
    <div class="container py-5">
        <h1 class="display-1 text-white animated slideInDown">Свето кръщене</h1>
        <nav aria-label="breadcrumb animated slideInDown">
            <ol class="breadcrumb text-uppercase mb-0">
                <li class="breadcrumb-item"><a class="text-white" asp-controller="Home" asp-action="Index">Начало</a></li>
                <li class="breadcrumb-item text-primary active" aria-current="page">Свето кръщене</li>
            </ol>
        </nav>
    </div>
</div>
<!-- Page Header End -->
<!-- Feature Business Photography Start -->
<div class="container-xxl py-5 mt-5">
    <div class="container">
        <div class="row g-5">
            <div class="col-lg-6 wow fadeInUp" data-wow-delay="0.5s">
                <div class="feature-img">
                    <img class="img-fluid" src="~/img/sveto-krashtene-plovdiv.jpg" alt="about3" style="max-height:650px">
                    <!--<img class="img-fluid" src="~/img/about-6.jpg" alt="about3" style="max-height:650px">-->
                </div>
            </div>
            <div class="col-lg-6 wow fadeInUp" data-wow-delay="0.1s">
                <h2 class="section-title">Заснемане на Свето кръщене</h2>
                <div class="row mt-5 g-4">
                    <div class="col-12">
                        <div class="d-flex align-items-start">
                            <h1><i class="fa-solid fa-cross text-primary"></i></h1>
                            <div class="ms-4">
                                <h3>Заснемане на церемонията на Светото кръщене</h3>
                                <p class="mb-3">Светото кръщене е един от най-светлите и емоционални моменти в живота на едно семейство — първият празник, изпълнен с вяра, символика и надежда. С професионален подход и дискретно присъствие по време на ритуала ще запечатаме най-важните детайли — от малките усмивки до благословенията в храма. Позволете историята на вашето семейство да бъде разказана с внимание и стил и запазете светлината на първия празник.</p>
                                <p class="mb-0">Предлагаме професионална заснемане на Свето кръщене в град Пловдив и в цялата страна. Ще получите красив и скъп спомен, който всеки път ще поглеждате с удоволствие.</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Feature Business Photography End -->