@{
    ViewData["Title"] = "Свето кръщене";
}

<!-- Baptism Start -->
<div class="container-xxl px-0 py-5">
    <div class="col-lg-6 wow fadeInUp mx-auto text-center" data-wow-delay="0.5s">
        <div class="h-100">
            <p class="text-primary text-uppercase mb-2">Услуги</p>
            <h1 class="display-6 mb-4">СВЕТО КРЪЩЕНЕ</h1>
            <p>Във <span class="text-primary"><b>PHOTONIC</b></span> предлагаме разнообразие от фотографски услуги, създадени да уловят и съхранят най-ценните ви моменти.</p>
            <hr class="w-50 mx-auto mb-5 mb-xl-9 border-dark-subtle">
        </div>
    </div>
    <div class="row g-0">
        <div class="col-lg-12 wow fadeIn" data-wow-delay="0.1s">
            <div class="row g-0 flex-sm-row">
                <div class="col-sm-6">
                    <div class="team-img-single position-relative">
                        <img class="img-fluid" src="~/img/service-10.jpg" alt="wedding">
                    </div>
                </div>
                <div class="col-sm-6">
                    <div class="h-100 p-5 d-flex flex-column justify-content-between">
                        <div class="mb-3">
                            <h4><i>„...запазете светлината на първия празник — нежна, чиста и неподправена...“</i></h4>
                            <span class="text-primary">Цена от 300 лв</span>
                        </div>
                        <p>Светото кръщене е един от най-светлите и емоционални моменти в живота на едно семейство — първият празник, изпълнен с вяра, символика и надежда. Нашата задача е да уловим тези мигове така, че да останат живи завинаги, да се усеща трепетът, нежността и чистата любов във всяка снимка.</p>
                        <p>С професионален подход и дискретно присъствие по време на ритуала ще запечатаме най-важните детайли — от малките усмивки до благословенията в храма. Позволете историята на вашето семейство да бъде разказана с внимание и стил и запазете светлината на първия празник — нежна, чиста и неподправена. Подарете си красив спомен, който ще пазите с години — емоция, превърната в изкуство.</p>
                        <div class="d-flex">
                            <a target="_blank" asp-action="ReserveByType" asp-controller="PhotoShoot" asp-route-photoShootType="@Category.Baptism" class="btn btn-square btn-outline-primary rounded-circle me-2"><i class="fa-solid fa-calendar-days"></i></a>
                            <a target="_blank" asp-action="Portfolio" asp-controller="Photo" asp-route-category="@Category.Baptism" class="btn btn-square btn-outline-primary rounded-circle me-2"><i class="fa-solid fa-images"></i></a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Baptism End -->