@{
    ViewData["Title"] = "Индивидуална фотосесия";
}

<!-- Individual Start -->
<div class="container-xxl px-0 py-5">
    <div class="col-lg-6 wow fadeInUp mx-auto text-center" data-wow-delay="0.5s">
        <div class="h-100">
            <p class="text-primary text-uppercase mb-2">Услуги</p>
            <h1 class="display-6 mb-4">ИНДИВИДУАЛНА ФОТОСЕСИЯ</h1>
            <p>Във <span class="text-primary"><b>PHOTONIC</b></span> предлагаме разнообразие от фотографски услуги, създадени да уловят и съхранят най-ценните ви моменти.</p>
            <hr class="w-50 mx-auto mb-5 mb-xl-9 border-dark-subtle">
        </div>
    </div>
    <div class="row g-0">
        <div class="col-lg-12 wow fadeIn" data-wow-delay="0.1s">
            <div class="row g-0 flex-sm-row">
                <div class="col-sm-6">
                    <div class="team-img-single position-relative">
                        <img class="img-fluid" src="~/img/individualni-fotosesii-lyato-2.jpg" alt="portrait">
                    </div>
                </div>
                <div class="col-sm-6">
                    <div class="h-100 p-5 d-flex flex-column justify-content-between">
                        <div class="mb-3">
                            <h4><i>„...всяка индивидуална фотосесия е среща между вас и светлината...“</i></h4>
                            <span>Цена от </span><span class="text-primary service-price">@DefaultValue.PortrairPhotoShoot лв</span>
                        </div>
                        <p>Елегантни портрети, артистични кадри или свежи снимки на открито - нашата цел е да уловим вашата автентичност и да я превърна във визуален разказ. Подарете си време за себе си и преживяване, което улавя най-доброто от вас — момент, превърнат в изкуство</p>
                        <p>Предоставяме ви внимание към детайлите и подход, съобразен с вашия стил и характер — за да се чувствате комфортно, уверено и естествено пред камерата. Заедно изграждаме визията, избора на локация и атмосферата, така че крайният резултат да бъде не просто серия от снимки, а отражение на вашето настроение, емоции и присъствие.</p>
                        <div class="d-flex">
                            <a target="_blank" asp-action="ReserveByType" asp-controller="PhotoShoot" asp-route-photoShootType="@Category.Portrait" class="btn btn-square btn-outline-primary rounded-circle me-2"><i class="fa-solid fa-calendar-days"></i></a>
                            <a target="_blank" asp-action="Portfolio" asp-controller="Photo" asp-route-category="@Category.Portrait" class="btn btn-square btn-outline-primary rounded-circle me-2"><i class="fa-solid fa-images"></i></a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Individual End -->