@{
    ViewData["Title"] = "Продукт";
}

<!-- Wedding Start -->
<div class="container-xxl px-0 py-5">
    <div class="col-lg-6 wow fadeInUp mx-auto text-center" data-wow-delay="0.5s">
        <div class="h-100">
            <p class="text-primary text-uppercase mb-2">Услуги</p>
            <h1 class="display-6 mb-4">ПРОДУКТ</h1>
            <p>Във <span class="text-primary"><b>PHOTONIC</b></span> предлагаме разнообразие от фотографски услуги, създадени да уловят и съхранят най-ценните ви моменти.</p>
            <hr class="w-50 mx-auto mb-5 mb-xl-9 border-dark-subtle">
        </div>
    </div>
    <div class="row g-0">
        <div class="col-lg-12 wow fadeIn" data-wow-delay="0.1s">
            <div class="row g-0 flex-sm-row">
                <div class="col-sm-6">
                    <div class="team-img position-relative">
                        <img class="img-fluid" src="~/resources/images/product.jpg" alt="product">
                    </div>
                </div>
                <div class="col-sm-6">
                    <div class="h-100 p-5 d-flex flex-column justify-content-between">
                        <div class="mb-3">
                            <h4><i>„...покажете продукта си така, че хората да го почувстват още преди да го докоснат....“</i></h4>
                            <span class="text-primary">Цена от 50 лв</span>
                        </div>
                        <p>Всички знаем поговорката: „По дрехите посрещат, по ума изпращат.“ Макар да е за човешкото поведение, тя напълно важи и в света на маркетинга. Първото впечатление винаги започва с това, което виждаме — с начина, по който един продукт е представен пред нас. Продуктовите снимки често са решаващият фактор дали един човек ще се спре, ще се заинтересува и накрая — ще избере именно вас. Те са мостът между вашия бранд и човека отсреща, между интереса и доверието.</p>
                        <p>От PHOTONIC ще ви предоставим изображения, които не просто показват продукта, а му придават характер. Кадри, които вдъхват усещане за качество, стил и внимание към детайла — така че вашите продукти да направят това желано добро първо впечатление.</p>
                        <p>Ние знаем колко важна е визуалната комуникация - с правилнатата светлина, композиция и перспектива всяка снимка може да разкаже историята и да провокира емоция у клиента. Ще се постараем вашите продукти не просто да присъстват в онлайн каталога ви, а да впечатляват аудиторията.</p>
                        <div class="d-flex">
                            <a target="_blank" asp-action="ReserveByType" asp-controller="PhotoShoot" asp-route-photoShootType="@Category.Wedding" class="btn btn-square btn-outline-primary rounded-circle me-2"><i class="fa-solid fa-calendar-days"></i></a>
                            <a target="_blank" asp-action="Portfolio" asp-controller="Photo" asp-route-category="@Category.Wedding" class="btn btn-square btn-outline-primary rounded-circle me-2"><i class="fa-solid fa-images"></i></a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Wedding End -->