@{
    ViewData["Title"] = "Сватбена фотография в Пловдив | Сватбени портрети | Заснемане на сватбени ритуали в Пловдив и страната";
}

<!-- Page Header Start -->
<div class="container-fluid page-header py-5 mb-5 wow fadeIn" data-wow-delay="0.1s">
    <div class="container py-5">
        <h1 class="display-1 text-white animated slideInDown">Сватбена фотография</h1>
        <nav aria-label="breadcrumb animated slideInDown">
            <ol class="breadcrumb text-uppercase mb-0">
                <li class="breadcrumb-item"><a class="text-white" asp-controller="Home" asp-action="Index">Начало</a></li>
                <li class="breadcrumb-item text-primary active" aria-current="page">Сватбена фотография</li>
            </ol>
        </nav>
    </div>
</div>
<!-- Page Header End -->
<!-- Feature Business Photography Start -->
<div class="container-xxl py-5 mt-5">
    <div class="container">
        <div class="row g-5">
            <div class="col-lg-6 wow fadeInUp" data-wow-delay="0.5s">
                <div class="feature-img">
                    <img class="img-fluid" src="~/img/about-7.jpg" alt="about3" style="max-height:650px">
                    <img class="img-fluid" src="~/img/about-10.jpg" alt="about3" style="max-height:650px">
                </div>
            </div>
            <div class="col-lg-6 wow fadeInUp" data-wow-delay="0.1s">
                <h2 class="section-title">Сватбена <span class="text-dark">фотография</span></h2>
                <!--<h1 class="display-5 mb-4">Целта ни е </h1>-->
                <div class="row mt-5 g-4">
                    <div class="col-12">
                        <div class="d-flex align-items-start">
                            <h1><i class="fa-solid fa-champagne-glasses text-primary"></i></h1>
                            <div class="ms-4">
                                <h3>Вашата сватба през нашия обектив</h3>
                                <p class="mb-3">Погледът преди церемонията, ръцете, които се стискат малко по-силно, сълзите на близките, смехът с приятели – това са истинските спомени, които остават. Нацата цел е да уловим красотата на сватбения ден така, че когато разглеждате снимките след години, да усещате същата емоция.</p>
                                <p class="mb-0">Във ФОТОНИК предлагаме сватбена фотография в Пловдив и цяла България, улавяйки всяка история такава, каквато е – истинска и незабравима.</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-12">
                        <div class="d-flex align-items-start">
                            <h1><i class="fa-solid fa-user-doctor text-primary"></i></h1>
                            <div class="ms-4">
                                <h3>Сватбени портрети</h3>
                                <p class="mb-3">Във ФОТОНИК истински ценим тишината между големите събития, усмивките, които не са режисирани, и докосванията, в които любовта, близостта и семейните връзки заемат главната роля.</p>
                                <p class="mb-0">Сватбените портрети улавят красотата, нежността и неподправените емоции между младоженците, когато те могат да бъдат себе си, далеч от напрежението и динамиката на целия ден. За нас снимката не е просто документ от сватбения ден, а спомен, който остава жив и топъл завинаги.</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Feature Business Photography End -->