@model IEnumerable<Announcement>

<div class="container-fluid container-news pb-4">
    @foreach(Announcement announcement in Model)
    {
        <div class="row row-news pt-2 bg-dark text-center">
            <div class="col-12 col-news">
                <p class="col-news-text text-white">@(announcement?.Content ?? "")</p>
            </div>
        </div>
    }
</div>