@model IEnumerable<Announcement>

<div class="container-fluid container-news">

    @foreach(Announcement announcement in Model)
    {
        <div class="row row-news py-1 bg-dark text-white text-center">
            <div class="col-12 col-news">
                <h4 class="col-news-text">@(announcement?.Content ?? "")</h4>
            </div>
        </div>
    }
    
</div>