<form asp-action="QuickReserve" asp-controller="Photoshoot" method="get">
    <div class="hotel_booking_area position">
        <div class="container">
            <div class="hotel_booking_table">
                <div class="col-md-3">
                    <h2>Резервирайте<br> фотосесия</h2>
                </div>
                <div class="col-md-9">
                    <div class="boking_table">
                        <div class="row">
                            <div class="col-md-4">
                                <div class="book_tabel_item">
                                    <div class="input-group">
                                        <select name="photoShootType" id="photoshoot-type-quick" asp-items="@(Html.GetEnumSelectList<PhotoShootType>())" class="wide">
                                            <option value="">Тип фотосесия</option>
                                        </select>
                                    </div>
                                </div>
                                <div class="book_tabel_item">
                                    <div class="form-group">
                                        <div class='input-group'>
                                            <input name="phone" id="phone-quick" class="form-control" placeholder="Телефон" />
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="book_tabel_item">
                                    <div class="form-group">
                                        <div class='input-group'>
                                            <input name="firstName" id="first-name-quick" class="form-control" placeholder="Име" />
                                        </div>
                                    </div>
                                </div>
                                <div class="book_tabel_item">
                                    <div class="form-group">
                                        <div class='input-group'>
                                            <input name="lastName" id="last-name-quick" class="form-control" placeholder="Фамилия" />
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-4">
                                <button type="submit" id="btn-book-quick" class="book_now_btn button_hover text-white" disabled>Резевирай</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</form>

<script>
    $(document).ready(function () {
        //validate book btn on page load
        validateBtnBook();
        
        //validate book btn on each change of inputs
        $("#photoshoot-type-quick").change(function () {
            validateBtnBook();
        });
        $("#phone-quick").change(function () {
            validateBtnBook();
        });
        $("#first-name-quick").change(function () {
            validateBtnBook();
        });
        $("#last-name-quick").change(function () {
            validateBtnBook();
        });
    });

    function validateBtnBook() {
        let photoshootType = $("#photoshoot-type-quick").val();
        let phone = $("#phone-quick").val();
        let firstName = $("#first-name-quick").val();
        let lastName = $("#last-name-quick").val();
        console.log(photoshootType);
        //enable book btn only when all inputs have data
        if (photoshootType && phone && firstName && lastName) {
            $("#btn-book-quick").removeAttr("disabled");
        }
        //else disable
        else {
            $("#btn-book-quick").attr("disabled");
        }
    }
</script>