<form asp-action="QuickReserve" asp-controller="Photoshoot" method="get">
    <div class="hotel_booking_area position">
        <div class="container">
            <div class="hotel_booking_table">
                <div class="col-md-3">
                    <h2>Резервирайте<br> фотосесия</h2>
                </div>
                <div class="col-md-9">
                    <div class="boking_table">
                        <div class="row">
                            <div class="col-md-4">
                                <div class="book_tabel_item">
                                    <div class="input-group">
                                        <select name="photoShootType" asp-items="@(Html.GetEnumSelectList<PhotoShootType>())" class="wide">
                                            <option data-display="Тип фотосесия">Тип фотосесия</option>
                                        </select>
                                    </div>
                                </div>
                                <div class="book_tabel_item">
                                    <div class="form-group">
                                        <div class='input-group'>
                                            <input name="phone" class="form-control" placeholder="Телефон" />
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="book_tabel_item">
                                    <div class="form-group">
                                        <div class='input-group'>
                                            <input name="firstName" class="form-control" placeholder="Име" />
                                        </div>
                                    </div>
                                </div>
                                <div class="book_tabel_item">
                                    <div class="form-group">
                                        <div class='input-group'>
                                            <input name="lastName" class="form-control" placeholder="Фамилия" />
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-4">
                                <button type="submit" class="book_now_btn button_hover text-white">Резевирай</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</form>