@model List<GalleryPhoto>

@{
    ViewData["Title"] = ViewData["categoryDescription"];
}

<div class="container">
    <div class="portfolio-menu mt-2 mb-4">
        <ul>
            <li class="portfolio-menu-item active" data-filter="*">All</li>
            <li class="portfolio-menu-item" data-filter=".gts">Girls T-shirt</li>
            <li class="portfolio-menu-item" data-filter=".lap">Laptops</li>
            <li class="portfolio-menu-item" data-filter=".selfie">selfie</li>
        </ul>
    </div>
    <div class="portfolio-item row">
        @foreach (GalleryPhoto photo in Model)
        {
            <div class="item selfie col-lg-3 col-md-4 col-6 col-sm">
                <a href="https://image.freepik.com/free-photo/stylish-young-woman-with-bags-taking-selfie_23-2147962203.jpg" class="fancylight popup-btn" data-fancybox-group="light">
                    <img class="img-fluid" src="~/resources/@photo.FilePathSmall" alt="gallery-item">
                </a>
            </div>
        }
    </div>
</div>

<style>
    .portfolio-menu-item {
        font-weight: bold;
    }

    .portfolio-menu {
        text-align: center;
    }

    .portfolio-menu ul li {
        display: inline-block;
        margin: 0;
        list-style: none;
        padding: 10px 15px;
        cursor: pointer;
        -webkit-transition: all 05s ease;
        -moz-transition: all 05s ease;
        -ms-transition: all 05s ease;
        -o-transition: all 05s ease;
        transition: all .5s ease;
    }

    .portfolio-menu .active{
        color: #EAA636;
    }

    .portfolio-item .item {
        float: left;
        margin-bottom: 10px;
    }
</style>

<script>
    $('.portfolio-menu ul li').click(function () {
        $('.portfolio-menu ul li').removeClass('active');
        $(this).addClass('active');

        var selector = $(this).attr('data-filter');
        $('.portfolio-item').isotope({
            filter: selector
        });
        return false;
    });
    $(document).ready(function () {
        var popup_btn = $('.popup-btn');
        popup_btn.magnificPopup({
            type: 'image',
            gallery: {
                enabled: true
            }
        });
    });
</script>