@model List<GalleryPhoto>

@{
    ViewData["Title"] = ViewData["categoryDescription"];
}



<section class="breadcrumb_area mt-5">
    <div class="overlay bg-parallax" data-stellar-ratio="0.8" data-stellar-vertical-offset="0" data-background=""></div>
    <div class="container">
        <div class="page-cover text-center">
            <h2 class="page-cover-tittle">@ViewData["categoryDescription"]</h2>
            <ol class="breadcrumb">
                <li><a asp-action="Index" asp-controller="Home">Начало</a></li>
                <li class="active">@ViewData["categoryDescription"]</li>
            </ol>
        </div>
    </div>
</section>
<section class="gallery_area section_gap">
    <div class="container">
        <div class="row imageGallery1" id="gallery">
            @foreach (GalleryPhoto photo in Model)
            {
                <div class="col-md-4 gallery_item">
                    <div class="gallery_img">
                        <img src="~/resources/@photo.FilePathSmall" alt="gallery-photo"/>
                        <div class="hover">
                            <a class="light" href="~/resources/@photo.FilePathSmall"><i class="fa fa-expand"></i></a>
                        </div>
                    </div>
                </div>
            }
        </div>
    </div>
</section>


    