@model CreateGalleryPhotoDTO

<div class="container container-create-photo">
    <div class="row">
        <div class="col-12 col-md-6 col-lg-4 mt-3">
            <form asp-action="Create" method="post" enctype="multipart/form-data">
                @Html.AntiForgeryToken()
                <div class="form-group">
                    <label asp-for="GalleryPhoto.Name"></label>
                    <input asp-for="GalleryPhoto.Name" class="form-control" />
                </div>
                <div class="form-group">
                    <label asp-for="GalleryPhoto.Description"></label>
                    <input asp-for="GalleryPhoto.Description" class="form-control" />
                </div>
                <div class="form-group">
                    <input asp-for="GalleryPhoto.IsFree" class="is-free" />
                    <label asp-for="GalleryPhoto.IsFree"></label>
                </div>
                <div class="form-group price-group">
                    <label asp-for="GalleryPhoto.Price"></label>
                    <input asp-for="GalleryPhoto.Price" class="form-control price" />
                </div>
                <div class="form-group">
                    <label asp-for="Categories"></label>
                    <select multiple asp-for="Categories" asp-items="@Html.GetEnumSelectList<Category>()" class="form-control"></select>
                </div>
                <div class="form-group">
                    <label asp-for="FormFile"></label>
                    <input asp-for="FormFile" class="form-control" />
                </div>
                <div class="form-group">
                    <label asp-for="Tags"></label>
                    <input asp-for="Tags" class="form-control" />
                    <span><i>Separate tags with commas (,)</i></span>
                </div>
                <div class="form-group">
                    <label asp-for="GalleryPhoto.GeoLocation"></label>
                    <input asp-for="GalleryPhoto.GeoLocation" class="form-control" />
                </div>
                <div class="form-group">
                    <label asp-for="GalleryPhoto.Gear.CameraBrand"></label>
                    <input asp-for="GalleryPhoto.Gear.CameraBrand" class="form-control" />
                </div>
                <div class="form-group">
                    <label asp-for="GalleryPhoto.Gear.CameraModel"></label>
                    <input asp-for="GalleryPhoto.Gear.CameraModel" class="form-control" />
                </div>
                <div class="form-group">
                    <label asp-for="GalleryPhoto.Gear.CameraLens"></label>
                    <input asp-for="GalleryPhoto.Gear.CameraLens" class="form-control" />
                </div>
                <div class="form-group">
                    <label asp-for="GalleryPhoto.Gear.AdditionalInformation"></label>
                    <input asp-for="GalleryPhoto.Gear.AdditionalInformation" class="form-control" />
                </div>
                <button type="submit" class="btn btn-success">Create</button>
            </form>
        </div>
    </div>
</div>

<style>
    .container-create-photo {
        margin-top: 150px;
    }

    .is-free{
        transform: scale(1.6);
        margin-left: 5px;
        margin-right: 5px;
    }
</style>

<script>
    $(".is-free").change(function(){
        if($(".is-free").is(":checked")){
            $(".price-group").css("display", "none");
            $(".price").val(0);
        }
        else{
            $(".price-group").css("display", "block");
            $(".price").val("");
        }
    })
    
</script>