@model List<GalleryPhoto>

@{
    ViewData["Title"] = "Галерия";
}

<section class="breadcrumb_area">
    <div class="overlay bg-parallax" data-stellar-ratio="0.8" data-stellar-vertical-offset="0" data-background=""></div>
    <div class="container">
        <div class="page-cover text-center">
            <h2 class="page-cover-tittle">Галерия</h2>
            <ol class="breadcrumb">
                <li><a asp-action="Index" asp-controller="Home">Начало</a></li>
                <li class="active">Галерия</li>
            </ol>
        </div>
    </div>
</section>
<div class="container mt-5 py-5">
    <div class="masonry-grid">
        @foreach(GalleryPhoto photo in Model)
        {
            <div class="masonry-grid-item">
                <a asp-controller="Photo" asp-action="PhotoById" asp-route-id="@photo.Id">
                    <img src="~/resources/@photo.FilePathSmall" />
                </a>
            </div>
        }
    </div>
</div>

<style>
    .masonry-grid {
        width: 100%; /* Full width container */
    }

    .masonry-grid-item img {
        width: 95%;
    }

    .masonry-grid-item{
        width: calc((100% / 3) - 20px); /* 3 columns with 10px margin on each side */
    }

    .masonry-grid-item {
        margin: 10px 0;
        box-sizing: border-box; /* Include margins in the width calculation */
    }

    

    .masonry-grid-item:hover{
        transform: scale(.9);
        transition: .2s;
    }

    @@media (max-width: 768px) {
      .masonry-grid-item {
        width: calc((100% / 2) - 20px); /* 2 columns for tablets */
      }
    }

    @@media (max-width: 480px) {
    .masonry-grid-item  {
        width: calc(100% - 20px); /* 1 column for phones */
      }
    }
    
</style>

<script src="https://unpkg.com/imagesloaded/imagesloaded.pkgd.min.js"></script>
<script>

    window.onload = function () {
        var grid = document.querySelector('.masonry-grid');

        imagesLoaded(grid, function () {
            new Masonry(grid, {
                itemSelector: '.masonry-grid-item',
                columnWidth: '.masonry-grid-item',
                percentPosition: true,
            });
        });
    }
    
</script>