@model List<GalleryPhoto>

@{
    ViewData["Title"] = "Портфолио";
}

<!-- Page Header Start -->
<div class="container-fluid page-header py-5 mb-5 wow fadeIn" data-wow-delay="0.1s">
    <div class="container py-5">
        <h1 class="display-1 text-white animated slideInDown">ПОРТФОЛИО</h1>
        <nav aria-label="breadcrumb animated slideInDown">
            <ol class="breadcrumb text-uppercase mb-0">
                <li class="breadcrumb-item"><a class="text-white" asp-controller="Home" asp-action="Index">Начало</a></li>
                <li class="breadcrumb-item text-primary active" aria-current="page">ПОРТФОЛИО</li>
            </ol>
        </nav>
    </div>
</div>
<!-- Page Header End -->
<div class="container-xxl">
    
    <div class="container my-5">
        <partial name="_GalleryCategories" model="true"></partial>
    </div>
</div>