@model List<GalleryPhoto>

@{
    ViewData["Title"] = "Галерия";
}

<div class="container-xxl">
    <div class="container mt-5">
        <div class="col-lg-6 wow fadeInUp mx-auto text-center" data-wow-delay="0.5s">
            <div class="h-100">
                <p class="text-primary text-uppercase mb-2">Галерия</p>
                <h1 class="display-6 mb-4">Нашато портфолио</h1>
                <p>Разгледайте снимки от нашите фотосесии.</p>
                <hr class="w-50 mx-auto mb-5 mb-xl-9 border-dark-subtle">
            </div>
        </div>
    </div>
    <div class="container my-5">
        <partial name="_GalleryCategories" model="true"></partial>
    </div>
</div>