@model Dictionary<Category, List<GalleryPhoto?>>

@{
    ViewData["Title"] = ViewData["categoryDescription"];
}

<div class="container-fluid">
    <div class="portfolio-menu mb-4">
        <ul>
            <li id="cat-wedding" class="portfolio-menu-item" data-filter=".wedding"><i class="fa-solid fa-ring"></i><span>Сватба</span></li>
            <li id="cat-prom" class="portfolio-menu-item" data-filter=".prom"><i class="fa-solid fa-user-graduate"></i><span>Абитуриенти</span></li>
            <li id="cat-baptism" class="portfolio-menu-item" data-filter=".baptism"><i class="fa-solid fa-cross"></i><span>Свето кръщене</span></li>
            <li id="cat-portrait" class="portfolio-menu-item active" data-filter=".portrait"><i class="fa-solid fa-person"></i><span>Индивидуална</span></li>
            <li id="cat-family" class="portfolio-menu-item" data-filter=".family"><i class="fa-solid fa-people-roof"></i><span>Семейна</span></li>
            <li id="cat-business" class="portfolio-menu-item" data-filter=".business"><i class="fa-solid fa-address-card"></i><span>Бизнес портрет</span></li>
            <li id="cat-product" class="portfolio-menu-item" data-filter=".product"><i class="fa-solid fa-shirt"></i><span>Продукт</span></li>
            <li id="cat-automotive" class="portfolio-menu-item" data-filter=".automotive"><i class="fa-solid fa-car-rear"></i><span>Автомобил</span></li>
            <li id="cat-events" class="portfolio-menu-item" data-filter=".events"><i class="fa-solid fa-champagne-glasses"></i><span>Събитие</span></li>
            <!--<li id="cat-landscape" class="portfolio-menu-item" data-filter=".landscape"><i class="fa-solid fa-panorama"></i></li>-->
            <li id="cat-architecture" class="portfolio-menu-item" data-filter=".architecture"><i class="fa-solid fa-house"></i><span>Интериорна</span></li>
            <!--<li id="cat-secret" class="portfolio-menu-item" data-filter=".secret"><i class="fa-solid fa-user-secret"></i></li>-->
            <!--<li id="cat-other" class="portfolio-menu-item" data-filter=".other"><i class="fa-solid fa-icons"></i></li>-->
        </ul>
    </div>
    <div class="portfolio-item row">
        @foreach (KeyValuePair<Category, List<GalleryPhoto?>> categoriesWithPhotos in Model)
        {
            foreach(GalleryPhoto? photo in categoriesWithPhotos.Value)
            {
                <div class="item @categoriesWithPhotos.Key.ToString().ToLower() col-md-4 col-6 text-center mt-5">
                    <a href="~/resources/@photo?.FilePathSmall" class="fancylight popup-btn" data-fancybox-group="light">
                        <img class="img-fluid" src="~/resources/@photo?.FilePathSmall" alt="gallery-item">
                    </a>
                    <a asp-controller="Photo" asp-action="PhotoById" asp-route-id="@photo?.Id" class="item-details-btn"><b>ДЕТАЙЛИ</b></a>
                </div>
            }
        }
    </div>
</div>

<style>
    

    .portfolio-menu {
        display: flex; /* align items horizontally */
        justify-content: center;
        gap: 40px; /* spacing between icons */
        margin-top: -100px;
        padding: 0;
        color: #000;
        text-align: center;
        list-style: none; /* remove default bullets */

    }

    .portfolio-menu li {
        display: flex; /* align items horizontally */
        justify-content: center;
        gap: 40px; /* spacing between icons */
        padding: 0;
    }

    .portfolio-menu ul li {
        display: inline-block;
        flex-direction: column; /* stack icon and text vertically */
        align-items: center;
        padding: 5px 0;
        margin: 20px 10px;
        font-size: 1.5rem;
        list-style: none;
        cursor: pointer;
        -webkit-transition: all 05s ease;
        -moz-transition: all 05s ease;
        -ms-transition: all 05s ease;
        -o-transition: all 05s ease;
        transition: all .5s ease;
    }

    .portfolio-menu ul li i {
        margin-bottom: 5px;
    }

    .portfolio-menu ul li span{
        display: block;
        color: #333;
        font-size: 0.7rem !important;
        transition: 1s;
    }

    .portfolio-menu ul li:hover {
        border-top: 1px solid #EAA636;
        border-bottom: 1px solid #EAA636;
    }

    .portfolio-menu .active, .portfolio-menu .active:hover {
        border-top: 3px solid #EAA636;
        border-bottom: 3px solid #EAA636;
        transition: all .5s ease;
    }

    .portfolio-item{
        margin: 0 !important;
        padding: 0 !important;
    }

    .portfolio-item .item {
        float: left;
        margin-bottom: 10px;
    }

    .portfolio-item .item .item-details-btn{
        display: none;
        transition: .5s;
    }

    .portfolio-item .item:hover .item-details-btn {
        display: block;
        transition: .5s;
    }

    @@media only screen and (max-width: 768px) {
        .portfolio-menu ul li {
            font-size: 1.2rem;
            margin: 10px 5px;
            border: none;
        }
    }
</style>

<script>
    $(document).ready(function () {
        $('.portfolio-menu ul li').removeClass('active');
        $("#cat-" + getCurrentCategory()).addClass('active');
        filter($("#cat-" + getCurrentCategory()));

        $('.portfolio-menu ul li').click(function () {
            $('.portfolio-menu ul li').removeClass('active');
            $(this).addClass('active');

            filter($(this));
        });

        var popup_btn = $('.popup-btn');
        popup_btn.magnificPopup({
            type: 'image',
            gallery: {
                enabled: true
            }
        });
    });

    function filter(element){
        var selector = element.attr('data-filter');
            console.log('selectr: ' + selector);
            $('.portfolio-item').isotope({
                filter: selector
            });
            return false;
    }

    function getCurrentCategory() {
        let category = "@(ViewData["categoryDescription"])";
        return category.toLowerCase();
    }
</script>