@model Dictionary<Category, List<GalleryPhoto?>>

@{
    ViewData["Title"] = ViewData["categoryDescription"];
}

<div class="container-fluid">
    <div class="portfolio-menu mb-4">
        <ul>
            <li id="cat-wedding" class="portfolio-menu-item" data-filter=".wedding">Сватбен портрет</li>
            <li id="cat-prom" class="portfolio-menu-item" data-filter=".prom">Абитуриенти</li>
            <li id="cat-baptism" class="portfolio-menu-item" data-filter=".baptism">Свето кръщене</li>
            <li id="cat-portrait" class="portfolio-menu-item active" data-filter=".portrait">Индивидуална</li>
            <li id="cat-family" class="portfolio-menu-item" data-filter=".family">Семейна</li>
            <li id="cat-business" class="portfolio-menu-item" data-filter=".business">Бизнес портрет</li>
            <li id="cat-product" class="portfolio-menu-item" data-filter=".product">Продукт</li>
            <li id="cat-automotive" class="portfolio-menu-item" data-filter=".automotive">Автомобил</li>
            <li id="cat-events" class="portfolio-menu-item" data-filter=".events">Събитие</li>
            <li id="cat-landscape" class="portfolio-menu-item" data-filter=".landscape">Пейзажи</li>
            <li id="cat-secret" class="portfolio-menu-item" data-filter=".secret">Тайна фотосесия</li>
            <li id="cat-architecture" class="portfolio-menu-item" data-filter=".architecture">Имоти</li>
            <li id="cat-other" class="portfolio-menu-item" data-filter=".other">Други</li>
        </ul>
    </div>
    <div class="portfolio-item row">
        @foreach (KeyValuePair<Category, List<GalleryPhoto?>> categoriesWithPhotos in Model)
        {
            foreach(GalleryPhoto? photo in categoriesWithPhotos.Value)
            {
                <div class="item @categoriesWithPhotos.Key.ToString().ToLower() col-md-4 col-6 text-center mt-5">
                    <a href="~/resources/@photo?.FilePathSmall" class="fancylight popup-btn" data-fancybox-group="light">
                        <img class="img-fluid" src="~/resources/@photo?.FilePathSmall" alt="gallery-item">
                    </a>
                    <a asp-controller="Photo" asp-action="PhotoById" asp-route-id="@photo?.Id" class="item-details-btn"><b>ДЕТАЙЛИ</b></a>
                </div>
            }
        }
    </div>
</div>

<style>
    .portfolio-menu-item {
        font-weight: bold;
    }

    .portfolio-menu {
        color: #000;
        margin-top: -100px;
        text-align: center;
    }

    .portfolio-menu ul li {
        display: inline-block;
        margin: 0;
        list-style: none;
        padding: 10px 15px;
        cursor: pointer;
        -webkit-transition: all 05s ease;
        -moz-transition: all 05s ease;
        -ms-transition: all 05s ease;
        -o-transition: all 05s ease;
        transition: all .5s ease;
    }

    .portfolio-menu .active{
        color: #EAA636;
    }

    .portfolio-item{
        margin: 0 !important;
        padding: 0 !important;
    }

    .portfolio-item .item {
        float: left;
        margin-bottom: 10px;
    }

    .portfolio-item .item .item-details-btn{
        display: none;
        transition: .5s;
    }

    .portfolio-item .item:hover .item-details-btn {
        display: block;
        transition: .5s;
    }
</style>

<script>
    $(document).ready(function () {
        $('.portfolio-menu ul li').removeClass('active');
        $("#cat-" + getCurrentCategory()).addClass('active');
        filter($("#cat-" + getCurrentCategory()));

        $('.portfolio-menu ul li').click(function () {
            $('.portfolio-menu ul li').removeClass('active');
            $(this).addClass('active');

            filter($(this));
        });

        var popup_btn = $('.popup-btn');
        popup_btn.magnificPopup({
            type: 'image',
            gallery: {
                enabled: true
            }
        });
    });

    function filter(element){
        var selector = element.attr('data-filter');
            console.log('selectr: ' + selector);
            $('.portfolio-item').isotope({
                filter: selector
            });
            return false;
    }

    function getCurrentCategory() {
        let category = "@(ViewData["categoryDescription"])";
        return category.toLowerCase();
    }
</script>