@model Testimony

<div class="container container-create-testimony">
    <div class="row">
        <div class="col-12 text-center">
            <h1>Ще се радваме да чуем и Вашето мнение</h1>
        </div>
    </div>
    <div class="row mt-5">
        <div class="col-12">
            <partial name="_CreateTestimony" model="@Model"></partial>
        </div>
    </div>
</div>

<style>
    body{
        background: #f9f9ff;
    }
    .container-create-testimony{
        margin-top: 200px;
        padding-bottom: 50px;
    }
</style>