@model CreateTestimonyDTO

<div class="container-create-testimony">
    <div class="row mt-5">
        <div class="col-12">
            <partial name="_CreateTestimony" model="@Model"></partial>
        </div>
    </div>
</div>