@page
@model AccessDeniedModel
@{
    ViewData["Title"] = "Access denied";
}

<header class="container">
    <div class="row">
        <div class="col-12 text-center text-danger">
            <h1>@ViewData["Title"]</h1>
            <p>You do not have access to this resource.</p>
        </div>
    </div>
</header>
