@page
@model ConfirmEmailModel
@{
    ViewData["Title"] = "Потвърждение";
}

<div class="container container-confirmation-message-wrap">
    <div class="row">
        <div class="col-12">
            <h1>@ViewData["Title"]</h1>
            <partial name="_StatusMessage" model="Model.StatusMessage" />
        </div>
    </div>
</div>


<style>
    .container-confirmation-message-wrap{
        padding: 200px 0;
    }
</style>

