@page
@model ConfirmEmailModel
@{
    ViewData["Title"] = "Потвърждение на имейл";
}

<div class="container container-confirmation-message-wrap">
    <div class="row">
        <div class="col-12 text-center">
            <h1>
                @if (Model.IsSuccessful)
                {
                    <i class="fa-solid fa-envelope-circle-check fa-2x text-warning"></i>
                }
                else
                {
                    <i class="fa-solid fa-bomb fa-2x text-dark"></i>
                }
            </h1>
        </div>
    </div>
    <div class="row mt-4">
        <div class="col-12 text-center">
            <h1 class="status-message @(Model.IsSuccessful ? "text-dark" : "text-danger")">@Model.StatusMessage</h1>
        </div>
    </div>
    <div class="row row-account-prompt-container mt-5">
        <div class="col-12 text-center">
            <p>Влезте от <a asp-page="./Login" class="text-warning"><b>тук</b></a>.</p>
        </div>
    </div>
</div>


<style>
    @@media only screen and (max-width: 768px){
        .container-confirmation-message-wrap .status-message{
            font-size: 1.8rem;
        }
    }
</style>

