@page
@model ForgotPasswordModel
@{
    ViewData["Title"] = "Забравена парола";
}


<div class="container forgot-password-send-container">
    <div class="row">
        <div class="col-12 text-center">
            <h1 id="title">@ViewData["Title"]</h1>
        </div>
    </div>
    <div class="row">
        <div class="col-md-4 text-center col-account-form">
            <form method="post">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <div class="form-floating">
                    <input asp-for="Input.Email" class="form-control" autocomplete="username" aria-required="true" placeholder="Email" />
                    <span asp-validation-for="Input.Email" class="text-danger"></span>
                </div>
                <button type="submit" class="w-100 btn btn-warning text-white btn-account-submit">Възстановяване</button>
            </form>
        </div>
    </div>
</div>
@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}

<style>
    .forgot-password-send-container{
        padding-top: 150px;
        padding-bottom: 150px;
    }

    .forgot-password-send-container #registerForm .form-control{
        border-radius: 0 !important;
    }

    @@media only screen and (max-width: 768px){
        #title{
            font-size: 1.8rem;
        }
    }
</style>
