@page
@model ForgotPasswordConfirmation
@{
    ViewData["Title"] = "Изпратихме Ви имейл";
}

<div class="container container-password-reset-confirmation">
    <div class="row">
        <div class="col-12 text-center">
            <h1><i class="fa-solid fa-envelope-circle-check fa-2x text-warning"></i></h1>
        </div>
    </div>
    <div class="row mx-auto text-center">
        <div class="col-12 mx-auto my-4 text-center">
            <h1 id="reset-confirmation-title">@ViewData["Title"]</h1>
            <p id="reset-confirmation-text">Отворете пощата си и следвайте инструкците от имейла</p>
        </div>
    </div>
</div>

<style>
    .container-password-reset-confirmation{
        padding-top: 200px;
        padding-bottom: 150px;
    }

    #reset-confirmation-text{
        margin-top: 40px;
        font-size: 1.4rem;
    }

    @@media only screen and (max-width: 768px){
        #reset-confirmation-title{
            font-size: 1.8rem;
        }

        #reset-confirmation-text{
            font-size: 1.2rem;
        }
    }
</style>