@page
@model ForgotPasswordModel
@inject IConfiguration configuration
@{
    string siteKey = configuration["ReCaptcha:SiteKey"] ?? "";
    ViewData["Title"] = "Забравена парола";
}

<!-- Login Start -->
<div class="container-xxl pb-5">
    <div class="container">
        <div class="text-center mx-auto wow fadeInUp" data-wow-delay="0.1s" style="max-width: 500px;">
            <p class="text-primary text-uppercase mb-2">Възстановяване на парола</p>
            <h1 class="display-6 mb-5">Възстановете достъпа до профила си</h1>
        </div>
        <div class="row g-0 justify-content-center">
            <div class="col-lg-8 wow fadeInUp" data-wow-delay="0.1s">
                <p class="text-center mb-4">Въведете имейла си и следвайте последващите инструкции</p>
                <div asp-validation-summary="All" class="text-danger"></div>
                <form id="account" method="post" onsubmit="onSubmit()">
                    <input type="hidden" asp-for="ReCaptchaToken" id="recaptchaTokenInputId" />
                    <div class="row g-3">
                        <div class="col-md-12">
                            <div class="form-floating">
                                <input asp-for="Input.Email" class="form-control" autocomplete="username" aria-required="true" placeholder="Email" />
                                <label asp-for="Input.Email">Имейл</label>
                                <span asp-validation-for="Input.Email" class="text-danger"></span>
                            </div>
                        </div>
                        <div class="col-12 text-center">
                            <div class="form-floating text-center">
                                <div class="text-center" id="recaptcha-container" data-callback="onSubmit"></div>
                            </div>
                        </div>
                        <div class="col-12 text-center">
                            <button class="btn btn-primary py-3 px-5" type="submit">Възстановяване</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
<!-- Login End -->

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
    <script src="https://www.google.com/recaptcha/api.js"></script>
    <script src="~/js/custom//recaptcha.js" data-siteKey="@siteKey"></script>
    <script src="https://www.google.com/recaptcha/api.js?onload=onloadCallback&render=explicit" async defer> </script>
}
