@page
@model ForgotPasswordConfirmation
@{
    ViewData["Title"] = "Изпратихме Ви имейл";
}

<div class="container-xxl pb-5">
    <div class="container">
        <div class="row">
            <div class="col-12 text-center">
                <h1><i class="fa-solid fa-envelope-circle-check fa-2x text-primary"></i></h1>
            </div>
        </div>
        <div class="text-center mx-auto wow fadeInUp" data-wow-delay="0.1s" style="max-width: 500px;">
            <p class="text-primary text-uppercase mb-2">@ViewData["Title"]</p>
            <h1 class="display-6 mb-5">Отворете пощата си и следвайте инструкците от имейла</h1>
        </div>
        <div class="row g-0 justify-content-center">
            <div class="col-lg-8 wow fadeInUp" data-wow-delay="0.1s">
                <p class="text-center mb-4">Изпратихме ви имейл, в който ще откриете инструкции за възстановяване па паролата Ви. Отвотерете пощата си и следвайте инструкциите от този имейл.</p>
                <div class="row g-3 mt-4">
                    <div class="col-md-12 text-center">
                        <div class="form-floating">
                            <p class="account-confirmation-text">Не получихте имейл?</p>
                            <form method="post">
                                <input type="hidden" asp-for="Input.Email" />
                                <input type="hidden" asp-for="Input.CallbackUrl" />
                                <button asp-page-handler="ResendEmail" class="btn btn-primary py-3 px-5">Изпрати нов имейл</button>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>