@page
@model ResetPasswordConfirmationModel
@{
    ViewData["Title"] = "Паролата Ви е възстановена";
}

<div class="container container-reset-successful">
    <div class="row">
        <div class="col-12 text-center">
            <h1><i class="fa-solid fa-lock-open fa-2xl text-warning"></i></h1>
        </div>
    </div>
    <div class="row mt-4">
        <div class="col-12 text-center">
            <h1>@ViewData["Title"]</h1>
            <p>Влезте от <a asp-page="./Login" class="text-warning">тук</a>.</p>
        </div>
    </div>
</div>

<style>
    .container-reset-successful{
        padding-top: 200px;
        padding-bottom: 100px;
    }

        .container-reset-successful .row p {
            margin-top: 40px;
            font-size: 1.4rem;
        }

    @@media only screen and (max-width: 768px) {
        .container-reset-successful .row h1 {
            font-size: 1.8rem;
        }

        .container-reset-successful .row p {
            font-size: 1.2rem;
        }
    }
</style>
