@page
@model ResetPasswordModel
@{
    ViewData["Title"] = "Възстановяване на парола";
}

<form id="account" method="post" onsubmit="onSubmit()">
    <input asp-for="Input.Code" type="hidden" />
    <div class="hotel_booking_area position">
        <div class="container container-reset-password">
            <div class="row">
                <div class="col-12 text-center">
                    <h1 class="mr-lg-5">@ViewData["Title"]</h1>
                </div>
            </div>
            <div class="row">
                <div class="col-12 text-center mx-auto">
                    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                </div>
            </div>
            <div class="hotel_booking_table">
                <div class="col-md-12">
                    <div class="boking_table">
                        <div class="row">
                            <div class="col-md-4 text-center mx-auto">
                                <div class="book_tabel_item">
                                    <div class="form-group">
                                        <div class="input-group border border-warning">
                                            <input asp-for="Input.Email" class="form-control" autocomplete="username" aria-required="true" placeholder="Email" />
                                            <span asp-validation-for="Input.Email" class="text-danger"></span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row mt-2">
                            <div class="col-md-4 text-center mx-auto">
                                <div class="book_tabel_item">
                                    <div class="form-group">
                                        <div class="input-group border border-warning">
                                            <input asp-for="Input.Password" class="form-control" autocomplete="current-password" aria-required="true" placeholder="Парола" />
                                            <button type="button" class="btn btn-light btn-password btn-password-show"><i class="fa-solid fa-eye"></i></button>
                                            <button type="button" class="btn btn-light btn-password btn-password-hide" style="display:none"><i class="fa-solid fa-eye-slash"></i></button>
                                            <span asp-validation-for="Input.Password" class="text-danger"></span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row mt-2">
                            <div class="col-md-4 text-center mx-auto">
                                <div class="book_tabel_item">
                                    <div class="form-group">
                                        <div class="input-group border border-warning">
                                            <input asp-for="Input.ConfirmPassword" class="form-control" autocomplete="current-password" aria-required="true" placeholder="Повтори парола" />
                                            <button type="button" class="btn btn-light btn-password btn-password-show"><i class="fa-solid fa-eye"></i></button>
                                            <button type="button" class="btn btn-light btn-password btn-password-hide" style="display:none"><i class="fa-solid fa-eye-slash"></i></button>
                                            <span asp-validation-for="Input.ConfirmPassword" class="text-danger"></span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row mt-2">
                            <div class="col-12 col-md-4 text-center mx-auto">
                                <button id="btn-account-submit" type="submit" class="w-100 btn btn-lg btn-warning text-white btn-account-submit">Възстанови</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</form>


@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}

<script src="~/js/custom//passwordVisibility.js"></script>

<style>
    .hotel_booking_table {
        background: none;
    }

    .container-reset-password {
        padding-top: 150px;
        padding-bottom: 50px;
    }

    .btn-password {
        border-radius: 0 !important;
    }

    @@media only screen and (max-width: 768px) {
        .container-reset-password .row h1 {
            font-size: 1.8rem;
        }
    }
</style>
