@page
@model ResetPasswordConfirmationModel
@{
    ViewData["Title"] = "Паролата Ви е възстановена";
}
<div class="container-xxl pb-5">
    <div class="container">
        <div class="row">
            <div class="col-12 text-center">
                <h1><i class="fa-solid fa-lock-open fa-2xl text-primary"></i></h1>
            </div>
        </div>
        <div class="text-center mx-auto wow fadeInUp mt-4" data-wow-delay="0.1s" style="max-width: 500px;">
            <p class="text-primary text-uppercase mb-2">@ViewData["Title"]</p>
            <h1 class="display-6 mb-5">Вие възстановихте достъпа до профила си</h1>
        </div>
        <div class="row g-0 justify-content-center">
            <div class="col-lg-8 wow fadeInUp" data-wow-delay="0.1s">
                <p class="text-center mb-4">Вие успешно възстановихте достъпа до профила си. Сега отново можете да влезете с новата парола, която сте въвели от <a asp-page="./Login" class="text-primary"><b>тук</b></a>.</p>
            </div>
        </div>
    </div>
</div>
