@{
    ViewData["Title"] = "Общи условия за ползване";
}

<div class="container-xxl">
    <div class="container mt-5">
        <div class="col-lg-6 wow fadeInUp mx-auto text-center" data-wow-delay="0.5s">
            <div class="h-100">
                <h1 class="display-6 mb-4">@ViewData["Title"]</h1>
                <p>Прочетете Общите условия преди да използвате нашия уеб сайт</p>
                <hr class="w-50 mx-auto mb-5 mb-xl-9 border-dark-subtle">
            </div>
        </div>
    </div>
    <div class="container mt-5 container-terms-conditions">
        <h2>ОБЩИ УСЛОВИЯ ЗА ПРЕДОСТАВЯНЕ НА ФОТОГРАФСКИ УСЛУГИ</h2>
        <h4>Последна актуализация: 20.02.2026 г.</h4>
        <p>
            <b>
                Тези общи условия се отнасят до ФОТОНИК ДИДЖИТАЛ ЕООД („Изпълнителят“) и всяко физическо или юридическо лице („Клиентът“), което
                заявява и/или ползва фотографски услуги, предлагани чрез сайта Photonic
                или чрез директен контакт.
                С изпращане на заявка за резервация, Клиентът потвърждава, че се е запознал и
                се съгласява с настоящите условия.
            </b>
        </p>
        <h5>1. Предмет на услугата</h5>
        <p><b>1.1.</b> Изпълнителят предоставя фотографски услуги, включително, но не само: портретни, събитийни, продуктови и други фотосесии.</p>
        <p><b>1.2.</b> Услугите се предоставят по заявка, направена чрез уебсайта, чрез контакт по телефон, имейл, социална мрежа или по друг начин, договорен между страните.</p>
        <h5>2. Задължения на страните</h5>
        <p><b>2.1.</b> Изпълнителят се задължава да предостави желаната от Клиента услуга, като спазва всички условия, договорени между страните.</p>
        <p><b>2.2.</b> При невъзможност Изпълнителят да спази някое от договорените условията, той е длъжен да уведоми Клиента за това.</p>
        <p><b>2.3.</b> Клиентът се задължава да заплати на Изпълнителя съотвената сума, договорена между страните.</p>
        <p><b>2.4.</b> И двете страни се задължават да бъдат навреме на локацията, избрана при резервирането на фотосесията.</p>
        <p><b>2.5.</b> При невъзможност за пристигане навреме на локацията от някоя от страните, съответната е длъжна да уведоми другата за това.</p>

        <h5>3. Онлайн резервации и потвърждение</h5>
        <p><b>3.1.</b> Онлайн резервацията се прави чрез попълване на уеб форма на сайта.</p>
        <p><b>3.3.</b> Клиентът получава потвърждение по имейл и/или телефон.</p>
        <p><b>3.4.</b> Възможно е изискване на капаро.</p>
        <h5>4. Резервации без използване на уеб сайта и потвърждения</h5>
        <p><b>4.1.</b> Резервации могат да бъдат направени и чрез имейл, лично съобшение в социална мрежа или друг писмен начин.</p>
        <p><b>4.2.</b> Изключение от писмените резервации прави тази, направена чрез телефонно обаждане, като това е и единственият валиден начин за вербално резервиране на фотосесия. </p>
        <h5>5. Отмяна и промяна</h5>
        <p><b>5.1</b> Всеки клиент на Photonic има правото да отмени заявката си за изпълнение на услуга.</p>
        <p><b>5.1.</b> Клиентът може безплатно да отмени или промени заявка за изпълнение на услуга до 48 часа преди уговорената дата.</p>
        <p><b>5.2.</b> При по-кратък срок от 48 часа Изпълнителят има право да поиска неустойка от Клиента.</p>
        <p><b>5.3.</b> При неподоходящи условия за изпълнение на улугата, независещи от Клента или Изпълнителя (например промяна в метеорологичните условия), тя може да се пренасрочи без допълнителна такса за друга възможна дата, дори и това да се случи след по-малко от 48 часа до фотосесията.</p>
        <h5>6. Собственост и предоставяне на материали</h5>
        <p><b>6.1.</b> Всички кадри, заснети от Изпълнителя, са собственост на Изпълнителя.</p>
        <p><b>6.2.</b> Изпълнителят предоставя кадри по свой избор на Клиента, но не по-малко от договорения брой.</p>
        <p><b>6.3.</b> Клиентът има право да използва предоставите от Изпълнителя кадри по всякакъв начин, който сметне за удачен, ОСВЕН да разпостранява и продава кадрите като свои.</p>
        <p><b>6.4.</b> При нарушение на точка 6.3. от страна на Клиента, ще бъде потърсена отговорност по силата на Закона за авторското право от страна на Изпълнителя.</p>
        <p><b>6.5.</b> Изпълнителят НЕ предоставя оригиниланите RAW файлове на Клиента, а само обработените такива в JPEG формат.</p>
        <p><b>6.6.</b> Клиентът може да закупи оригиналните RAW файлове от Изпълнителя и да ги използва и разпостранява като свои. Цената на всеки RAW файл се договаря между Изпълнителя и Клиента.</p>
        <h5>7. Промяна на Общите условия за ползване</h5>
        <p><b>7.1.</b> Изпълнителят запазва правото си да прави промени в Общите условия за ползване по всяко време, без да уведомява клиентите си за това.</p>
        <p><b>7.2.</b> Изпълнителят се задължава да обновява датата на последна промяна на Общите условия за ползване при всяка една извършена промяна.</p>
        
    </div>
</div>

<style>
    .container-terms-conditions{
        color: #000;
    }

    .container-terms-conditions h1,h2,h3, h4, h5, h6{
        font-weight: 900;
        margin-top: 30px;
    }
</style>
