@model Testimony

<div class="row">
    <div class="col-12">
        <form asp-action="Create" asp-controller="Testimony" method="post">
            <div class="form-group">
                <label asp-for="PersonFirstName"></label>
                <input asp-for="PersonFirstName" class="form-control" />
            </div>
            <div class="form-group">
                <label asp-for="PersonLastName"></label>
                <input asp-for="PersonLastName" class="form-control" />
            </div>
            <div class="form-group">
                <label asp-for="Stars"></label>
                <input type="hidden" asp-for="Stars"/>
                <div class="stars">
                    <span class="star-rating" id="1" onclick="setStarsRating(1);"><i class="fa fa-star fa-lg"></i></span>
                    <span class="star-rating" id="2" onclick="setStarsRating(2);"><i class="fa fa-star fa-lg"></i></span>
                    <span class="star-rating" id="3" onclick="setStarsRating(3);"><i class="fa fa-star fa-lg"></i></span>
                    <span class="star-rating" id="4" onclick="setStarsRating(4);"><i class="fa fa-star fa-lg"></i></span>
                    <span class="star-rating" id="5" onclick="setStarsRating(5);"><i class="fa fa-star fa-lg"></i></span>
                </div>
            </div>
            <div class="form-group">
                <label asp-for="Content"></label>
                <textarea rows="8" asp-for="Content" class="form-control"></textarea>
            </div>
            <button type="submit" class="btn theme_btn button_hover mt-3">Добави отзив</button>
        </form>
    </div>
</div>

<script>
    $(document).ready(function () {
        $(".star-rating").click(function () {
            let id = $(this).attr('id');
            let starsCount = 5;
            //set color to all the that stand before the clicked one (inluding the clicked one)
            for(let i = 1; i <= parseInt(id); i++){
                $("#" + i).addClass("text-warning");
            }

            let staringStar = parseInt(id) + parseInt(1);

            //remove the color of the rest stars
            console.log(staringStar);
            for (let i = staringStar; i <= starsCount; i++) {
                $("#" + i).removeClass("text-warning");
            }
            
        });
    });

    function setStarsRating(rating){
        $("#Stars").val(parseInt(rating));
    }
</script>
