@model Testimony

<!-- Create Testimony Start -->
<div class="container-xxl bg-light py-5">
    <div class="container">
        <div class="text-center mx-auto wow fadeInUp" data-wow-delay="0.1s" style="max-width: 500px;">
            <p class="text-primary text-uppercase mb-2">Вашето мнение</p>
            <h1 class="display-6 mb-5">Ще се радваме да чуем Вашето мнение</h1>
        </div>
        <div class="row g-0 justify-content-center">
            <div class="col-lg-8 wow fadeInUp" data-wow-delay="0.1s">
                <p class="text-center mb-4">Ценим всеки един отздив, който оставяте, независимо дали добър или градивна критика.</p>
                <div asp-validation-summary="All" class="text-danger"></div>
                <form asp-action="Create" asp-controller="Testimony" method="post" id="testimony-form">
                    <div class="row g-3">
                        <div class="col-12 my-5 text-center">
                            <div class="form-floating">
                                <input type="hidden" asp-for="Stars" class="text-danger"/>
                                <span asp-validation-for="Stars" class="text-danger"></span>
                                <div class="stars">
                                    <span class="star-rating" id="1" onclick="setStarsRating(1);"><i class="fa fa-star fa-2xl"></i></span>
                                    <span class="star-rating" id="2" onclick="setStarsRating(2);"><i class="fa fa-star fa-2xl"></i></span>
                                    <span class="star-rating" id="3" onclick="setStarsRating(3);"><i class="fa fa-star fa-2xl"></i></span>
                                    <span class="star-rating" id="4" onclick="setStarsRating(4);"><i class="fa fa-star fa-2xl"></i></span>
                                    <span class="star-rating" id="5" onclick="setStarsRating(5);"><i class="fa fa-star fa-2xl"></i></span>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-floating">
                                <input type="text" class="form-control" asp-for="PersonFirstName" placeholder="Име">
                                <label asp-for="PersonFirstName">Име</label>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-floating">
                                <input type="text" class="form-control" asp-for="PersonLastName" placeholder="Фамилия">
                                <label asp-for="PersonLastName">Фамилия</label>
                            </div>
                        </div>
                        <div class="col-12 mt-4">
                            <div class="form-floating">
                                <textarea class="form-control" placeholder="Вашето мнение за нас" asp-for="Content" style="height: 200px"></textarea>
                                <label asp-for="Content">Вашето мнение за нас</label>
                            </div>
                        </div>
                        <div class="col-12 text-center">
                            <button class="btn btn-primary py-3 px-5 btn-submit" type="submit">Изпрати</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
<!-- Create Testimony End -->

<script>
    $(document).ready(function () {
        $(".star-rating").click(function () {
            let id = $(this).attr('id');
            let starsCount = 5;
            //set color to all the that stand before the clicked one (inluding the clicked one)
            for(let i = 1; i <= parseInt(id); i++){
                $("#" + i).addClass("text-warning");
            }

            let staringStar = parseInt(id) + parseInt(1);

            //remove the color of the rest stars
            console.log(staringStar);
            for (let i = staringStar; i <= starsCount; i++) {
                $("#" + i).removeClass("text-warning");
            }
            
        });

        $(".btn-submit").click(function (event) {
            event.preventDefault();

            //validate on each submit
            validateFirstName();
            validateLastName();
            validateStars();
            validateContent();

            //submit the form if all of the form inputs are valid
            if (validateFirstName() && validateLastName() && validateStars() && validateContent()) {
                $("#testimony-form").submit();
            }
        });


        //check for changes in inputs
        $("#PersonFirstName").change(function () {
            validateFirstName();
        });

        $("#PersonLastName").change(function () {
            validateLastName();
        });

        $("#Stars").change(function () {
            validateStars();
        });

        $("#Content").change(function () {
            validateContent();
        });
    });

    function setStarsRating(rating){
        $("#Stars").val(parseInt(rating));
    }

    //validate inputs
    function validateFirstName() {
        if ($("#PersonFirstName").val() == "" || $("#PersonFirstName").val() == null) {
            $("#PersonFirstName").addClass("border border-danger");
            return false;
        }

        else {
            $("#FirstName").removeClass("border border-danger");
            $(".btn-submit").prop('disabled', false);
            return true;
        }
    }

    function validateLastName() {
        if ($("#PersonLastName").val() == "" || $("#PersonLastName").val() == null) {
            $("#PersonLastName").addClass("border border-danger");
            return false;
        }

        else {
            $("#LastName").removeClass("border border-danger");
            $(".btn-submit").prop('disabled', false);
            return true;
        }
    }

    function validateStars() {
        if ($("#Stars").val() == 0 || $("#Stars").val() == "" || $("#Stars").val() == null) {
            return false;
        }

        else {
            return true;
        }
    }

    function validateContent() {
        if ($("#Content").val() == "" || $("#Content").val() == null) {
            $("#Content").addClass("border border-danger");
            return false;
        }

        else {
            $("#Content").removeClass("border border-danger");
            return true;
        }
    }
</script>
