@model List<GalleryPhoto>

<div class="portfolio-item row">
    @foreach (GalleryPhoto photo in Model)
    {
        <div class="item col-lg-3 col-md-4 col-6 col-sm text-center mt-4">
            <a href="~/resources/@photo?.FilePathSmall" class="fancylight popup-btn" data-fancybox-group="light">
                <img class="img-fluid" src="~/resources/@photo?.FilePathSmall" alt="gallery-item">
            </a>
            <a asp-controller="Photo" asp-action="PhotoById" asp-route-id="@photo?.Id" class="item-details-btn"><b>ДЕТАЙЛИ</b></a>
        </div>
    }
</div>

<style>
    .portfolio-menu-item {
        font-weight: bold;
    }

    .portfolio-menu {
        text-align: center;
    }

    .portfolio-menu ul li {
        display: inline-block;
        margin: 0;
        list-style: none;
        padding: 10px 15px;
        cursor: pointer;
        -webkit-transition: all 05s ease;
        -moz-transition: all 05s ease;
        -ms-transition: all 05s ease;
        -o-transition: all 05s ease;
        transition: all .5s ease;
    }

    .portfolio-menu .active {
        color: #EAA636;
    }

    .portfolio-item .item {
        float: left;
        margin-bottom: 10px;
    }

    .portfolio-item .item .item-details-btn {
        display: none;
        transition: .5s;
    }

    .portfolio-item .item:hover .item-details-btn {
        display: block;
        transition: .5s;
    }
</style>

<script>
    $(document).ready(function () {
        //harcode "all"
        filter("*");

        var popup_btn = $('.popup-btn');
        popup_btn.magnificPopup({
            type: 'image',
            gallery: {
                enabled: true
            }
        });
    });

    function filter(filter){
        $('.portfolio-item').isotope({
            filter: filter
        });
        return false;
    }
</script>