<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - OwlStock.Web</title>
    <meta name="description" content="" />
        <meta name="author" content="" />
        <title>PHOTON</title>
        <!-- Favicon-->
        <link rel="icon" type="image/x-icon" href="assets/favicon.ico" />   
        <!--Bootsrtap and JQuery-->
        <script src="~/lib/jquery/dist/jquery.min.js"></script>
        <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
        <script src="https://code.jquery.com/ui/1.13.2/jquery-ui.min.js"
            integrity="sha256-lSjKY0/srUM9BE3dPm+c4fBo1dky2v27Gdjm2uoZaL0="
            crossorigin="anonymous"></script>

        <!-- Font Awesome icons (free version)-->
        <script src="https://use.fontawesome.com/releases/v6.3.0/js/all.js" crossorigin="anonymous"></script>
        <!-- Google fonts-->
        <link href="https://fonts.googleapis.com/css?family=Montserrat:400,700" rel="stylesheet" type="text/css" />
        <link href="https://fonts.googleapis.com/css?family=Roboto+Slab:400,100,300,700" rel="stylesheet" type="text/css" />
        <!-- Core theme CSS (includes Bootstrap)-->
        <link href="~/css/site.css" rel="stylesheet" />
        <link rel="stylesheet" href="~/css/styles.css" asp-append-version="true" />

        <!--Selectize JS-->
    <link rel="stylesheet"
          href="https://cdnjs.cloudflare.com/ajax/libs/selectize.js/0.15.2/css/selectize.default.min.css"
          integrity="sha512-pTaEn+6gF1IeWv3W1+7X7eM60TFu/agjgoHmYhAfLEU8Phuf6JKiiE8YmsNC0aCgQv4192s4Vai8YZ6VNM6vyQ=="
          crossorigin="anonymous"
          referrerpolicy="no-referrer" />
    <script src="https://cdnjs.cloudflare.com/ajax/libs/selectize.js/0.15.2/js/selectize.min.js"
            integrity="sha512-IOebNkvA/HZjMM7MxL0NYeLYEalloZ8ckak+NDtOViP7oiYzG5vn6WVXyrJDiJPhl4yRdmNAG49iuLmhkUdVsQ=="
            crossorigin="anonymous"
            referrerpolicy="no-referrer"></script>

        <!--RichText editor-->
    <link rel="stylesheet" href="~/lib/RichText-master/src/richtext.min.css">
    <script src="~/lib/RichText-master/src/jquery.richtext.min.js"></script>

</head>
<body class="page-top">
<!-- Navigation-->
    <nav class="navbar navbar-expand-lg navbar-dark" id="mainNav">
        <div class="container">
            <a asp-controller="Home" asp-action="Index" class="navbar-brand"><img src="~/DreamPix.png" alt="DreamPix" class="logo"/></a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
                <i class="fas fa-bars fa-2x"></i>
            </button>
            <div class="collapse navbar-collapse" id="navbarResponsive">
                <ul class="navbar-nav text-uppercase ms-auto py-4 py-lg-0">
                    @if (this.User.IsInRole("Administrator"))
                    {
                        <li class="nav-item"><a asp-controller="Administration" asp-action="Index" class="nav-link text-primary"><b>Admin</b></a></li>
                    }
                    <li class="nav-item"><a asp-controller="PhotoShoot" asp-action="Reserve" class="nav-link">Резервация</a></li>
                    @if (User.Identity?.IsAuthenticated == true)
                    {
                        <li class="nav-item"><a asp-controller="PhotoShoot" asp-action="MyPhotoShoots" class="nav-link">Моите фотосесии</a></li>
                    }

                    <li class="nav-item"><a asp-controller="Photo" asp-action="All" class="nav-link">Галерия</a></li>
                </ul>
                    <partial name="_LoginPartial" />
                <form asp-controller="Photo" asp-action="AllByTag" method="GET" class="form-inline mx-4">
                    <input name="tag" class="form-control" type="search" placeholder="Търсене" aria-label="Search">
                </form>
            </div>
        </div>
    </nav>

    <main role="main" class="mt-3">
            @RenderBody()
    </main>

    <div class="container-fluid bg-light py-3 footer-container">
      <!-- Footer -->
        <!-- Footer-->
        <footer class="footer">
            <div class="container">
                <div class="row align-items-center">
                    <div class="col-lg-4 text-lg-start">&copy; DREAMPIX @DateTime.Now.Year</div>
                    <div class="col-lg-4 my-lg-0">
                        <a class="btn btn-dark btn-social mx-2" href="#!" aria-label="Facebook"><i class="fab fa-facebook-f"></i></a>
                        <a class="btn btn-dark btn-social mx-2" href="#!" aria-label="Twitter"><i class="fab fa-instagram"></i></a>
                        <a class="btn btn-dark btn-social mx-2" href="#!" aria-label="LinkedIn"><i class="fab fa-linkedin-in"></i></a>
                    </div>
                </div>
            </div>
        </footer>
      <!-- Footer -->
    </div>

    
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>

    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>

<style>
    .footer-container{
        margin-top: 50px;
    }
</style>