@using Microsoft.AspNetCore.Identity

@inject SignInManager<IdentityUser> SignInManager
@inject UserManager<IdentityUser> UserManager

@if (SignInManager.IsSignedIn(User))
{
    <div class="nav-item dropdown"> 
        <a asp-area="Identity" asp-page="/Account/Manage/Email" title="Manage" class="nav-link dropdown-toggle active" data-bs-toggle="dropdown"><i class="fa-solid fa-user-tie fa-lg"></i></a>
        <div class="dropdown-menu rounded-0 shadow-sm border-0 m-0">
            <a asp-controller="PhotoShoot" asp-action="MyPhotoShoots" class="dropdown-item"><i class="fa-solid fa-camera"></i> Фотосесии</a>
            <a asp-area="Identity" asp-page="/Account/Manage/Index" class="dropdown-item"><i class="fa-solid fa-user-tie"></i> Профил</a>
            <form id="logoutForm" class="form-inline" asp-area="Identity" asp-page="/Account/Logout" asp-route-returnUrl="@Url.Page("/Index", new { area = "" })">
                <button id="logout" type="submit" class="dropdown-item"><i class="fa-solid fa-right-from-bracket"></i> Изход</button>
            </form>
        </div>
    </div>
}
else
{
    <li class="nav-item">
        <a class="nav-link active" id="login" asp-area="Identity" asp-page="/Account/Login"><i class="fa-solid fa-user-tie fa-lg"></i></a>
    </li>
}
<style>
    .identity-link {
        margin-left: 8px;
    }

    .nav-item .nav-link-my-photoshoots {
        color: #ebb105 !important;
    }
</style>