@{
    ViewData["Title"] = "Успешно добавяне на отзив";
}

<div class="container-xxl pb-5">
    <div class="container">
        <div class="row">
            <div class="col-12 text-center">
                <h1><i class="fa-solid fa-star fa-2xl text-primary"></i></h1>
            </div>
        </div>
        <div class="text-center mx-auto wow fadeInUp mt-4" data-wow-delay="0.1s" style="max-width: 500px;">
            <p class="text-primary text-uppercase mb-2">@ViewData["Title"]</p>
            <h1 class="display-6 mb-5">Вашият отзив е записан успешно!</h1>
        </div>
        <div class="row g-0 justify-content-center">
            <div class="col-lg-8 wow fadeInUp" data-wow-delay="0.1s">
                <p class="text-center mb-4">Искрено благодарим за Вашите отзиви! Четем всеки един от тях и се старем да подобряваме услугите си постоянно.</p>
            </div>
        </div>
        <div class="row">
            <div class="col-12 mx-auto text-center mt-5">
                <a asp-action="Index" asp-controller="Home" class="btn btn-primary py-3 px-5">Начало</a>
            </div>
        </div>
    </div>
</div>
