@model string

@{
    ViewData["Title"] = "Грешка";
}

<div class="container container-error-message">
    <div class="row">
        <div class="col-12 text-center">
            <i class="fa-regular fa-face-frown text-warning icon-frown"></i>
        </div>
    </div>
    <div class="row mt-5">
        <div class="col-12 text-center">
            <h2>@Model</h2>
        </div>
    </div>
</div>

<style>
    .container-error-message{
        padding: 200px 0;
    }

    .container-error-message .fa-face-frown{
        font-size: 6rem;
    }
</style>