<div class="container py-5">
    <div class="row">
        <div class="col-12 col-md-6 col-lg-12 text-center mx-auto mt-5">
            <h1>Резервацията беше направена успешно!</h1>
            <p>Ще се свържем с Вас за повече детайли</p>
        </div>
    </div>
    <div class="row">
        <div class="col-12 mx-auto text-center mt-5">
            <a asp-action="MyPhotoShoots" class="btn btn-warning text-white">Вашите фотосесии</a>
        </div>
    </div>
</div>
 