@{
    ViewData["Title"] = "Успешна резервация";
}

<div class="container-xxl py-5 my-5 booking-container">
    <div class="container">
        <div class="row">
            <div class="col-12 text-center">
                <h1 class="display-4 mb-5 text-primary"><i class="fa-regular fa-face-grin-beam fa-2x"></i></h1>
            </div>
        </div>
        <div class="row">
            <div class="col-12 col-md-6 col-lg-12 text-center mx-auto">
                <h1>Фотосесията е резервирана успешно!</h1>
                <p class="mt-4">Ще се свържем с Вас за повече детайли</p>
            </div>
        </div>
        <div class="row">
            <div class="col-12 mx-auto text-center my-5">
                <a asp-action="MyPhotoShoots" class="btn btn-primary text-white">Вашите фотосесии</a>
            </div>
        </div>
    </div>
</div>
 