@{
    ViewData["Title"] = "Резервация";
}

<section class="breadcrumb_area">
    <div class="overlay bg-parallax" data-stellar-ratio="0.8" data-stellar-vertical-offset="0" data-background=""></div>
    <div class="container">
        <div class="page-cover text-center">
            <h2 class="page-cover-tittle">Резервация</h2>
            <ol class="breadcrumb">
                <li><a asp-action="Index" asp-controller="Home">Начало</a></li>
                <li class="active">Резервация</li>
            </ol>
        </div>
    </div>
</section>
<div class="container services-container my-5 py-5">
    <div class="row row-services-title">
        <div class="col-12 text-center">
            <h1>Изберете услуга</h1>
        </div>
    </div>
    <partial name="_GalleryCategories" model="false"></partial>
</div>

