@using System.Security.Claims
@model CreateSmallProductPhotoshootDTO

@{
    ViewData["Title"] = "Резервация";
}

<section class="breadcrumb_area">
    <div class="overlay bg-parallax" data-stellar-ratio="0.8" data-stellar-vertical-offset="0" data-background=""></div>
    <div class="container">
        <div class="page-cover text-center">
            <h2 class="page-cover-tittle">Резервация</h2>
            <ol class="breadcrumb">
                <li><a asp-action="Index" asp-controller="Home">Начало</a></li>
                <li class="active">Резервация</li>
            </ol>
        </div>
    </div>
</section>
<form asp-action="ReserveSmallProduct" method="post" id="booking-form">
    <div asp-validation-summary="All" class="text-danger"></div>


    <!-- #hidden inputs -->
    <input type="hidden" asp-for="PhotoShootType" />
    <input type="hidden" asp-for="IdentityUserId" />
    <!-- #endregion -->


    <div class="hotel_booking_area position mb-5">
        <div class="container-fluid booking-container">
            <div class="hotel_booking_table">
                <div class="col-12 col-md-8 col-booking mx-auto">
                    <div class="row row-small-product-title mb-5">
                        <div class="col-12">
                            <h1>Малък продукт</h1>
                        </div>
                    </div>
                    <div class="row row-small-product-description mb-5">
                        <div class="col-12">
                            <h4>Продуктите може да изпратите на адрес <b>гр. Асеновград, ул. „Генерал Колев“ 22</b> или до офис на Спиди - <b>гр. Асеновград, офис „Зъбчето“ (Авксентий Велешки)</b> заедно с номера на фотосесията (номерът ще намерите на страницата „Моите фотосесии“ при съответната фотосесия след резервация)</h4>
                        </div>
                    </div>
                    <div class="row row-progress-bar">
                        <div class="col-2 mx-auto text-center py-1 col-progress-bar col-progress-bar-section-1 progress-bar-current">
                            <span class="progress-bar-section-1"><i class="fa-solid fa-camera fa-lg"></i></span>
                        </div>
                        <div class="col-2 text-center mx-auto py-1 col-progress-bar col-progress-bar-section-2 progress-bar-pristine">
                            <span class="progress-bar-section-2"><i class="fa-solid fa-user fa-lg"></i></span>
                        </div>
                        <div class="col-2 text-center mx-auto py-1 col-progress-bar col-progress-bar-section-3 progress-bar-pristine">
                            <span class="progress-bar-section-3"><i class="fa-solid fa-flag-checkered fa-lg"></i></span>
                        </div>
                    </div>
                    <div class="boking_table mx-auto mt-5">
                        <div>
                            <div asp-validation-summary="All" class="text-danger"></div>
                        </div>
                        <div class="form-section section-1">
                            <div class="row row-photoshoot-packets mt-5 row-photoshoot-packets-product">
                                <div class="col-6 col-md-3 mx-auto col-photoshoot-packet">
                                    <div class="card mx-auto card-packet">
                                        <div class="card-header text-center">
                                            <h5>Стандартен</h5>
                                        </div>
                                        <div class="card-body text-center">
                                            <h3>100 лв</h3>
                                            <hr />
                                            <h6>Кадри на продукта на бял фон (например за електронни магазини)</h6>
                                        </div>
                                        <div class="card-footer text-center">
                                            <button type="button" class="btn-warning text-white btn-section-submit" id="product" onclick="setPhotoshootPacket($(this));">ИЗБЕРИ</button>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-6 col-md-3 mx-auto col-photoshoot-packet">
                                    <div class="card mx-auto card-packet">
                                        <div class="card-header text-center">
                                            <h5>Артистичен</h5>
                                        </div>
                                        <div class="card-body text-center">
                                            <h3>250 лв</h3>
                                            <hr />
                                            <h6>Кадри на продукта с артистични елементи (например за реклами, блогове и др.)</h6>
                                        </div>
                                        <div class="card-footer text-center">
                                            <a class="bg-warning text-white btn-section-submit" id="productArt" onclick="setPhotoshootPacket($(this))">ИЗБЕРИ</a>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-6 col-md-3 mx-auto col-photoshoot-packet">
                                    <div class="card mx-auto card-packet">
                                        <div class="card-header text-center">
                                            <h5>Друго</h5>
                                        </div>
                                        <div class="card-body text-center">
                                            <h3 class="negotiation">По договаряне</h3>
                                            <hr />
                                            <h6>Ще изчислим цената спрямо вашите нужди</h6>
                                        </div>
                                        <div class="card-footer text-center">
                                            <a class="bg-warning text-white btn-section-submit" id="other" onclick="setPhotoshootPacket($(this))">ИЗБЕРИ</a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="form-section section-2" style="display: none">
                            <div class="row row-section-title row-section-title-4">
                                <div class="col-12 mx-auto">
                                    <h2 class="section-title">Лични данни</h2>
                                </div>
                            </div>
                            <div class="row row-section-2 mt-1 row-email">
                                <div class="col-md-12 mx-auto">
                                    <div class="book_tabel_item">
                                        <div class="form-group email-wrap">

                                            @if (User?.Identity?.IsAuthenticated == true)
                                            {
                                                <input asp-for="PersonEmail" value="@User.FindFirstValue(ClaimTypes.Email)" class="rect-control text-muted" readonly />
                                            }

                                            else
                                            {
                                                <input asp-for="PersonEmail" class="rect-control" placeholder="Email" />
                                            }

                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="row row-section-2 mt-3 row-first-name">
                                <div class="col-md-12 mx-auto">
                                    <div class="book_tabel_item">
                                        <div class="form-group first-name-wrap">
                                            <input asp-for="PersonFirstName" class="rect-control" placeholder="Име" />
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="row row-section-2 mt-3  row-last-name">
                                <div class="col-md-12 mx-auto">
                                    <div class="book_tabel_item">
                                        <div class="form-group last-name-wrap">
                                            <input asp-for="PersonLastName" class="rect-control" placeholder="Фамилия" />
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="row row-section-2 mt-3 row-phone">
                                <div class="col-md-12 mx-auto">
                                    <div class="book_tabel_item">
                                        <div class="form-group phone-wrap">
                                            <input asp-for="PersonPhone" class="rect-control" placeholder="Телефон" />
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="row mt-3">
                                <div class="col-12 mx-auto">
                                    <button type="button" class="bg-secondary text-white btn-section-back btn-section-back-seciton-2">НАЗАД</button>
                                    <button type="button" class="bg-warning text-white btn-section-submit btn-section-submit-seciton-2">ЗАПАЗИ</button>
                                </div>
                            </div>
                        </div>
                        <div class="form-section section-3" style="display: none">
                            <div class="row row-section-title row-section-title-5">
                                <div class="col-12 mx-auto">
                                    <h2 class="section-title">Допълнителни</h2>
                                </div>
                            </div>
                            <div class="row row-section-5 mt-3 row-do-not-upload">
                                <div class="col-md-12 mx-auto">
                                    <div class="book_tabel_item">
                                        <div class="form-group do-not-upload-photos-wrap">
                                            <input class="text-warning" asp-for="DoNotUploadPhotos" />
                                            <span class="checkbox-label checkbox-photos-label">Не желая снимките ми да се качват на сайта на Photonic</span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="photo-delivery-wrap" style="display:none">
                                <div class="row row-section-3 mt-3 row-photo-delivery">
                                    <div class="col-md-12 mx-auto">
                                        <div class="book_tabel_item">
                                            <div class="form-group photo-delivery-method-wrap">
                                                <select asp-for="PhotoDeliveryMethod" asp-items="@(Html.GetEnumSelectList<PhotoDeliveryMethod>())" class="wide">
                                                    <option value="">Начин на получаване на снимките</option>
                                                </select>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="row row-section-3 mt-3 row-photo-delivery-address" style="display:none">
                                    <div class="col-md-12 mx-auto">
                                        <div class="book_tabel_item">
                                            <div class="form-group photo-delivery-address-wrap">
                                                <input asp-for="PhotoDeliveryAddress" class="rect-control" placeholder="Адрес или офис на Еконт" />
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="row mt-5">
                                <div class="col-12 text-dark text-center">
                                    <h6>
                                        Ако желаете, тук може да опишете всякакви съображения, които имате за фотосесията.
                                    </h6>
                                    <textarea asp-for="PhotoShootTypeDescription" cols="100" rows="6" class="form-control mt-3"></textarea>
                                </div>
                            </div>
                            <div class="row mt-5">
                                <div class="col-12 mx-auto text-center">
                                    <button type="submit" class="btn btn-warning btn-lg text-white btn-submit" style="border-radius: 0">РЕЗЕРВИРАЙ</button>
                                </div>
                            </div>
                            <div class="row mt-5">
                                <div class="col-12 mx-auto">
                                    <button type="button" class="bg-secondary text-white btn-section-back btn-section-back-seciton-3">НАЗАД</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-12 col-md-3 col-summary-section mx-auto mt-5 mt-md-0 p-5">
                    <div class="summary-section-photoshoot-type">
                        <p class="summary-section-icon text-warning"><i class="fa-solid fa-camera fa-lg"></i><span class="summary-data" id="summary-photoshoot-type">Абитуриентски бал Extra</span></p>
                    </div>
                    <hr />
                    <div class="summary-section-personal-data">
                        <p>
                            <i class="fa-solid fa-envelope fa-lg"></i>

                            @if (User?.Identity?.IsAuthenticated == true)
                            {
                                <span class="summary-data" id="summary-email">@User?.FindFirstValue(ClaimTypes.Email)</span>
                            }

                            else
                            {
                                <span class="summary-data" id="summary-email">Email</span>
                            }

                        </p>
                        <p>
                            <i class="fa-solid fa-user fa-lg"></i>
                            <span class="summary-data" id="summary-first-name">Име</span>
                            <span id="summary-last-name"></span>
                        </p>
                        <p><i class="fa-solid fa-phone fa-lg"></i><span class="summary-data" id="summary-telephone">Телефон</span></p>
                    </div>
                    <hr />
                    <div class="summary-section-price">
                        <h3 class="text-warning"><b>ЦЕНА</b> <span class="text-dark" id="price-summary">-</span></h3>
                    </div>
                </div>
            </div>
        </div>
    </div>
</form>

<style>
    input[type="checkbox"] {
        accent-color: #ffc107;
    }

    .row-progress-bar {
        background: #f7f7f7;
    }



    .progress-bar-pristine {
        color: #A9A9A9;
    }

    .progress-bar-completed {
        color: #3b3b3b;
    }

    .popular-places-wrap .form-control, .settlements-wrap .form-control {
        border: none;
        padding: 0;
    }

    .rect-control {
        padding: 8px 20px !important;
        width: 100%;
        border: 1px solid #000;
        border-radius: 0;
    }

    button:disabled {
        opacity: .5;
    }

    .hotel_booking_table {
        background: none;
        align-items: unset !important;
    }

        .hotel_booking_table .btn-section-submit, .btn-section-back {
            border: none;
            padding: 5px 10px;
            font-weight: bold;
        }

        .hotel_booking_table .col-booking {
            margin-top: 50px;
        }

        .hotel_booking_table .col-booking .form-section {
            margin-top: 100px;
        }

        .hotel_booking_table .row-section-title .section-title {
            color: #000;
        }

        .hotel_booking_table .section-2 .btn-location-type {
            width: 100%;
            background: #f5f5f5;
            color: #fff;
            padding: 5px 10px;
            font-size: 1.1em;
            border: none;
            transition: .4s;
        }

        .hotel_booking_table .section-2 .btn-location-type:hover {
            cursor: pointer;
            box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
            transform: scale(1.05);
            transition: .4s;
        }

        .hotel_booking_table .section-6 .btn-submit {
            border-radius: 0 !important;
            font-weight: bold;
        }

        .hotel_booking_table .other-types {
            min-height: 300px;
        }

        .hotel_booking_table hr {
            margin-top: 0;
            padding-top: 0;
        }

        .hotel_booking_table .card-packet {
            min-height: 300px;
        }

        .hotel_booking_table .card .negotiation {
            font-size: 1.1rem;
        }

    .btn-legend {
        width: 100px;
        border-radius: 0px !important;
        margin-left: 3px;
    }

    .hotel_booking_area .booking-container .col-summary-section {
        border-radius: 2%;
        box-shadow: rgba(0, 0, 0, 0.1) 0px 1px 0px, rgba(0, 0, 0, 0.1) 0px 0px 8px;
    }

    .hotel_booking_area .booking-container .col-summary-section .summary-data {
        margin-left: 10px;
    }

    .hotel_booking_area .booking-container .col-summary-section .summary-section-photoshoot-type #summary-photoshoot-type {
        font-weight: bold;
    }






    @@media only screen and (max-width: 768px) {
        .hotel_booking_table .card {
            min-height: 250px;
        }

        .hotel_booking_table .card-header h5 {
            font-size: 1.2rem;
        }

        .hotel_booking_table .card-body h3 {
            font-size: 1.5rem;
        }

        .hotel_booking_table .card-body h6 {
            font-size: .7rem;
        }

        .hotel_booking_table .card-body .negotiation {
            font-size: 1.2rem;
        }

        .hotel_booking_table .section-title {
            font-size: 1.8rem;
        }

        .hotel_booking_table .card .btn {
            padding: 5px;
            font-size: 1rem;
        }

        .hotel_booking_table .services .card {
            min-height: 150px;
        }
    }

</style>

<script>
    //global variable, keeps the location type on location type change
     var locationType = '';
     $(document).ready(function () {
         
         //set photoshoot type on page load
         setPhotoshootTypeSummary($("#PhotoShootType").find("option:selected").text());

         //calculate price on page load
         calculatePrice($("#PhotoShootType").val());

         //show section one /services/ and hide section two /location/
         $(".btn-section-back-seciton-2").click(function () {
             $(".section-1").css("display", "block");
             $(".section-2").css("display", "none");

             backwardProgress(1, false);

             //No validation on back buttons, because if you have passed to
             //the next section the first time, it means form was valid
         });

         //hide section two /location/ and show section three /date/
         $(".btn-section-submit-seciton-2").click(function () {
             $(".section-2").css("display", "none");
             $(".section-3").css("display", "block");

             forwardProgress(2, false);

             validateDoNotUpload();
             validateTransportAddress();
         });

         //show section two /location/ and hide section three /date and time/
         $(".btn-section-back-seciton-3").click(function () {
             $(".section-2").css("display", "block");
             $(".section-3").css("display", "none");

             validatePersonalData(2, false);

             //No validation on back buttons, because if you have passed to
             //the next section the first time, it means form was valid
         });


         //validate personal date on each input change
         $("#PersonEmail").change(function(){
             validatePersonalData();
             setEmailSummary($(this).val());
         });

         $("#PersonFirstName").change(function(){
             validatePersonalData();
             setFirstNameSummary($(this).val());
         });

         $("#PersonLastName").change(function(){
             validatePersonalData();
             setLastNameSummary($(this).val());
         });

         $("#PersonPhone").change(function(){
             validatePersonalData();
             setPhoneSummary($(this).val());
         });

         $("#DoNotUploadPhotos").change(function () {
             if($(this).is(":checked")){
                 $(".photo-delivery-wrap").css("display", "block");
             }
             else{
                 $(".photo-delivery-wrap").css("display", "none");

                 //set address explcitly to display none
                 $(".photo-delivery-address-wrap").css("display", "none");

                 //if not checked set the default value to the select
                 $(".photo-delivery-method-wrap .nice-select span").text("Начин на получаване на снимките");

                 //and clear the current selection
                 $(".photo-delivery-method-wrap .nice-select .list li").removeClass("selected");

                 $("#PhotoDeliveryMethod").find("option:selected").removeAttr("selected");
                 $("#PhotoDeliveryMethod").val("");
                 $("#PhotoDeliveryAddress").val("");
             }

             validateDoNotUpload();
         });

         $("#PhotoDeliveryMethod").change(function () {
             let selectedOption =  $(this).find("option:selected").val();

             if(selectedOption == 2 || selectedOption == 3) {
                 $(".row-photo-delivery-address").css("display", "block");
             }
             else{
                 $(".row-photo-delivery-address").css("display", "none");
                 $("#PhotoDeliveryAddress").val("");
             }

             validateDoNotUpload();
         });

         $("#PhotoDeliveryAddress").change(function () {
             validateDoNotUpload();
         });
     });





     //VALIDATIONS

     //validate seciton four -> peronal date
     function validatePersonalData(){
         if(validateEmail() && validateFirstName() && validateLastName() && validatePhone()){
             $(".btn-section-submit-seciton-2").prop("disabled", false);
         }
         else{
             $(".btn-section-submit-seciton-2").prop("disabled", true);
         }
     }



     //validate email
     function validateEmail(){
         if ($("#PersonEmail").val() == '' || $("#PersonEmail").val() == undefined) {
             return false;
         }

         else {
             return true;
         }
     }

     //validate first name
     function validateFirstName(){
         if ($("#PersonFirstName").val() == '' || $("#PersonFirstName").val() == undefined) {
             return false;
         }

         else {
             return true;
         }
     }

     //validate last name
     function validateLastName(){
         if ($("#PersonLastName").val() == '' || $("#PersonLastName").val() == undefined) {
             return false;
         }

         else {
             return true;
         }
     }

     //validate phone
     function validatePhone(){
         if ($("#PersonPhone").val() == '' || $("#PersonPhone").val() == undefined) {
             return false;
         }

         else {
             return true;
         }
     }





     //validate section 3 - extras

     

     //validate delivery method
     function validateDoNotUpload(){
         let selectedOption =  $("#PhotoDeliveryMethod").find("option:selected").val();

         if ($("#DoNotUploadPhotos").is(":checked")) {
             if (selectedOption == '' || selectedOption == undefined) {
                 $(".btn-section-submit-seciton-3").prop("disabled", true);
                 return false;
             }

             else if (selectedOption == 1){
                 $(".btn-section-submit-seciton-3").prop("disabled", false);
                 return true;
             }

             else if(selectedOption == 2 || selectedOption == 3) {
                 if ($("#PhotoDeliveryAddress").val() == '' || $("#PhotoDeliveryAddress").val() == undefined) {
                     $(".btn-section-submit-seciton-3").prop("disabled", true);
                     return false;
                 }

                 else {
                     $(".btn-section-submit-seciton-3").prop("disabled", false);
                     return true;
                 }
             }

         }

         else{
             $(".btn-section-submit-seciton-3").prop("disabled", false);
             return true;
         }
     }





    function setPhotoshootPacket(packet) {
        //get id of packed that is used in swtich statement
        let packetName = packet.attr('id');
        let photoshootEnum = 0;
        console.log(packetName);

        //set photoshoot type based on selected packet
        switch (packetName) {

            case "other": {
                photoshootEnum = 10;
                setPhotoshootTypeSummary("Друг");
                calculatePrice(photoshootEnum);
                break;
            }

            case "product": {
                photoshootEnum = 11;
                setPhotoshootTypeSummary("Продукт");
                calculatePrice(photoshootEnum);
                break;
            }

            case "productArt": {
                photoshootEnum = 21;
                setPhotoshootTypeSummary("Артистичен продукт");
                calculatePrice(photoshootEnum);
                break;
            }
        }

        //set photoshoot type
        $("#PhotoShootType").val(photoshootEnum);

        //hide section one /services/ and show section two /location/
        $(".section-1").css("display", "none");
        $(".section-2").css("display", "block");

        //forward progreess in the progress bar
        forwardProgress(1, false);

    }






     //SUMMARY

    //set photoshoot type summary
    function setPhotoshootTypeSummary(photoshootType) {
        if (photoshootType != "" && photoshootType != undefined) {
            $("#summary-photoshoot-type").text(photoshootType);
        }
        else {
            $("#summary-photoshoot-type").text("-");
        }
    }

     //set personal data summary
     function setEmailSummary(email) {
         if (email != "" && email != undefined) {
             $("#summary-email").text(email);
         }

         else {
             $("#summary-email").text("-");
         }
     }

     function setFirstNameSummary(firstName){
         if (firstName != "" && firstName != undefined) {
             $("#summary-first-name").text(firstName);

         }

         else {
             $("#summary-first-name").text("-");
         }
     }

     function setLastNameSummary(lastName) {
         if (lastName != "" && lastName != undefined) {
             $("#summary-last-name").text(" " + lastName);

         }

         else {
             $("#summary-last-name").text("-");
         }
     }

     function setPhoneSummary(phone) {
         if (phone != "" && phone != undefined) {
             $("#summary-telephone").text(phone);
         }

         else {
             $("#summary-telephone").text("-");
         }
     }





     //CONTROL PROGRESS BAR

     function forwardProgress(currentSectionNumber, isLastSection = false) {
         $(".col-progress-bar-section-" + currentSectionNumber).addClass("progress-bar-completed");
         $(".col-progress-bar-section-" + currentSectionNumber).removeClass("progress-bar-current");

         if (!isLastSection) {
             //increment the number to access the next section
             let nextSectionNumber = currentSectionNumber + 1;
             $(".col-progress-bar-section-" + nextSectionNumber).removeClass("progress-bar-pristine");
             $(".col-progress-bar-section-" + nextSectionNumber).addClass("progress-bar-current");
         }

         nextSectionNumber = 0;
     }

     function backwardProgress(currentSectionNumber, isFirstSection) {
         $(".col-progress-bar-section-" + currentSectionNumber).addClass("progress-bar-current");
         $(".col-progress-bar-section-" + currentSectionNumber).removeClass("progress-bar-completed");

         if (!isFirstSection) {
             //decrement the number to access the previous section
             let prevSectionNumber = currentSectionNumber - 1;
             $(".col-progress-bar-section-" + prevSectionNumber).removeClass("progress-bar-completed");
             $(".col-progress-bar-section-" + prevSectionNumber).addClass("progress-bar-current");
         }

         prevSectionNumber = 0;
     }





     //CALCULATE PRICE

     function calculatePrice(photoshootType, fuelPrice = 0) {
         if(photoshootType == "" || photoshootType == undefined){
             return;
         }

         $.ajax({
             contentType: 'application/json',
             url: "@Url.Action("photoshootPrice", "Calculations")",
             traditional: true,
             method: "GET",
             data: { 'photoshootType': photoshootType, 'fuelPrice': fuelPrice },
             success: function (response) {
                 if ($("#PhotoShootType").find(":selected").val() == 20 || $("#PhotoShootType").find(":selected").val() == 10) {
                     $("#price-summary").html("По договаряне");
                 }
                 else {
                     $("#price-summary").html(response + ' лв');
                 }
             },
             error: function (response) {
                 console.log("error");
                 console.log(response);
             }
         });
     }




     
     function findElementById(array, id) {
         for (let i = 0; i < array.length; i++) {
             if (array[i].id == id) {
                 return array[i];
             }
         }
     }
</script>
<script src="~/js/custom/helpers.js"></script>