@model ChangeUserRoleDTO

@{
    ViewData["Title"] = "Change User Role";
}

<div class="container mt-5 py-5">
    <div class="row mt-2">
        <div class="col-12 text-center">
            <h4>@ViewData["Title"]</h4>
        </div>
    </div>
    <div class="row mt-5">
        <form asp-action="ChangeUserRole" method="POST">
            @Html.AntiForgeryToken()
            <div class="col-12 col-md-6 col-lg-4">
                <div class="form-group">
                    <label asp-for="UserId"></label>
                    <input asp-for="UserId" class="form-control" readonly required />
                </div>
            </div>
            <div class="col-12 col-md-6 col-lg-4">
                <div class="form-group">
                    <label asp-for="UserEmail"></label>
                    <input asp-for="UserEmail" class="form-control" readonly required />
                </div>
            </div>
            <div class="col-12 col-md-6 col-lg-4">
                <div class="form-group">
                    <label asp-for="Roles"></label>
                    <select asp-for="SelectedRole" asp-items="@(new SelectList(@Model.Roles, "Name", "Name"))" class="form-control">
                        <option value=""></option>
                    </select>
                </div>
            </div>
            <button type="submit" class="btn btn-primary">Save</button>
        </form>
    </div>
</div>