@{
    ViewData["Title"] = "Администриране";
}

<div class="container container-administration">
    <div class="row">
        <div class="col-12 text-center">
            <h1>Администриране</h1>
        </div>
    </div>
    <div class="row text-center mt-5">
        <div class="col-12 col-md-6 col-lg-3">
            <div class="card">
                <div class="card-header">
                    <i class="fa-solid fa-camera fa-2x"></i>
                </div>
                <div class="card-body">
                    <a asp-controller="Administration" asp-action="Photoshoots"><h3>Фотосесии</h3></a>
                </div>
            </div>
        </div>
        <div class="col-12 col-md-6 col-lg-3">
            <div class="card">
                <div class="card-header">
                    <i class="fa-solid fa-image fa-2x"></i>
                </div>
                <div class="card-body">
                    <a asp-controller="Administration" asp-action="PhotosIndex"><h3>Снимки</h3></a>
                </div>
            </div>
        </div>
        <div class="col-12 col-md-6 col-lg-3">
            <div class="card">
                <div class="card-header">
                    <i class="fa-solid fa-user fa-2x"></i>
                </div>
                <div class="card-body">
                    <a asp-controller="Administration" asp-action="AllUsers"><h3>Потребители</h3></a>
                </div>
            </div>
        </div>
        <div class="col-12 col-md-6 col-lg-3">
            <div class="card">
                <div class="card-header">
                    <i class="fa-solid fa-newspaper fa-2x"></i>
                </div>
                <div class="card-body">
                    <a asp-controller="DynamicContent" asp-action="Create"><h3>Нова статия</h3></a>
                </div>
            </div>
        </div>
        <div class="col-12 col-md-6 col-lg-3 mt-4">
            <div class="card">
                <div class="card-header">
                    <i class="fa-solid fa-location-dot fa-2x"></i>
                </div>
                <div class="card-body">
                    <a asp-controller="Place" asp-action="All"><h3>Локации</h3></a>
                </div>
            </div>
        </div>
        <div class="col-12 col-md-6 col-lg-3 mt-4">
            <div class="card">
                <div class="card-header">
                    <i class="fa-solid fa-comment fa-2x"></i>
                </div>
                <div class="card-body">
                    <a asp-controller="Administration" asp-action="ManageTestimonies"><h3>Отзиви</h3></a>
                </div>
            </div>
        </div>
        <div class="col-12 col-md-6 col-lg-3 mt-4">
            <div class="card">
                <div class="card-header">
                    <i class="fa-solid fa-bullhorn fa-2x"></i>
                </div>
                <div class="card-body">
                    <a asp-controller="Administration" asp-action="ManageAnnouncements"><h3>Новини</h3></a>
                </div>
            </div>
        </div>
    </div>
</div>

<style>
    .container-administration{
        margin-top: 200px;
    }

    a{
        text-decoration: none;
    }
</style>