@model IEnumerable<PhotoShoot>

@{
    ViewData["Title"] = "Фотосесии";
}

<div class="container container-all-photoshoots">
    <div class="row">
        <div class="col-12">
            <table class="table table-stripe">
                <thead>
                    <tr>
                        <th>Управление</th>
                        <th>Id</th>
                        <th>Статус</th>
                        <th>Модел</th>
                        <th>Място</th>
                        <th>Дата</th>
                        <th>Създаден</th>
                        <th>Създаден от</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach(PhotoShoot photoShoot in Model)
                    {
                        string tableRowColor = "";
                        switch (photoShoot.Status)
                        {
                            case PhotoshootStatus.New:
                            {
                                tableRowColor = "#ffc800";
                                break;       
                            }
                            case PhotoshootStatus.Completed:
                            {
                                tableRowColor = "#198754";
                                break;
                            }
                            case PhotoshootStatus.Declined:
                            {
                                tableRowColor = "#c21e1e";
                                break;
                            }
                            case PhotoshootStatus.Cancelled:
                            {
                                tableRowColor = "#d4d4d4";
                                break;
                            }
                            default:
                            {
                                tableRowColor = "#bd79b5";
                                break;
                            }
                        }
                        <a asp-controller="PhotoShoot" asp-action="PhotoShootById" asp-route-id="@photoShoot?.Id">
                        <tr style="background-color:@tableRowColor; color:#fff">
                                <td><a asp-controller="Administration" asp-action="ManagePhotoshoot" asp-route-id="@photoShoot.Id" class="btn btn-light btn-sm">Управление</a></td>
                                <td>@photoShoot.Id</td>
                                <td>@photoShoot.Status</td>
                                <td>@photoShoot.PersonFullName</td>
                                <td>@photoShoot?.Place?.Name</td>
                                <td>@photoShoot?.ReservationDate.ToString("dd.MM.yyyy")</td>
                                <td>@photoShoot?.CreatedOn.ToString("dd.MM.yyyy")</td>
                                <td>@photoShoot?.IdentityUser?.Email</td>
                            </tr>
                        </a>
                    }
                </tbody>
            </table>
        </div>
    </div>
</div>

<style>
    .container-all-photoshoots{
        margin-top: 200px;
        margin-bottom: 200px;
    }
</style>