@{
    ViewData["Title"] = "Photos Index";
}

<div class="container mt-5 py-5">
    <div class="row">
        <div class="col-12 col-md-6 col-lg-4 mx-auto">
            <div class="card">
                <div class="card-body">
                    <h4><a asp-action="Photos" asp-controller="Administration">All</a></h4>
                </div>
            </div>
        </div>
        <div class="col-12 col-md-6 col-lg-4 mx-auto">
            <div class="card">
                <div class="card-body">
                    <h4><a asp-action="Create" asp-controller="Photo">Create</a></h4>
                </div>
            </div>
        </div>
    </div>
</div>