@model UpdatePhotoShootPhotosDTO

<div class="container mt-5 py-5">
    <div class="row">
        <div class="col-12 text-center">
            <h2>Photoshoot for @Model.PersonFullName</h2>
        </div>
    </div>
    <div class="row mt-4">
        <div class="col-12 col-md-6 col-lg-4 mx-auto">
            <form asp-action="UpdateFiles" method="post" enctype="multipart/form-data">
                <input type="hidden" asp-for="PersonFirstName"/>
                <input type="hidden" asp-for="PersonLastName"/>
                <input type="hidden" asp-for="PersonFullName"/>
                <input type="hidden" asp-for="PhotoShootId"/>
                
                <div class="row">
                    <div class="col-12 form-control">
                        <label asp-for="Files"></label>
                        <input multiple asp-for="Files" class="form-control" />
                        <span asp-validation-for="Files" class="text-danger"></span>
                    </div>
                </div>
                <div class="row mt-4">
                    <div class="col-12 text-center">
                        <button type="submit" class="btn btn-primary btn-lg mt-5">Update Files</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>