@{
    ViewData["Title"] = "За нас";
}

<!-- About Start -->
<div class="container-xxl pb-5">
    <div class="container">
        <div class="row g-5">
            <div class="col-lg-6 wow fadeInUp" data-wow-delay="0.1s">
                <div class="row g-3 img-twice position-relative h-100">
                    <div class="col-6">
                        <img class="img-fluid bg-light p-3" src="img/about-1.jpg" alt="">
                    </div>
                    <div class="col-6 align-self-end">
                        <img class="img-fluid bg-light p-3" src="img/about-2.jpg" alt="">
                    </div>
                </div>
            </div>
            <div class="col-lg-6 wow fadeInUp" data-wow-delay="0.5s">
                <div class="h-100">
                    <p class="text-primary text-uppercase mb-2">За нас</p>
                    <h1 class="display-6 mb-4">За нас | Какво целим?</h1>
                    <p>Нашата страст е посветена на улавянето на най-ценните Ви моменти. Вярваме, че всяка снимка разказва история и всяка история заслужава да бъде разказана с изключително внимание към детайла и артистичност.</p>
                    <p>Целта на Фотоник е да превърнем вашите спомени в изкуство. Независимо дали става дума за сватба, семеен портрет, корпоративно събитие или индивидуална фотосесия, ние се стремим да уловим емоцията и красотата във всеки кадър.</p>
                    <p>Фотоник се роди с идеята да улесни максимално клиентите ни. Всички знаем колко е неприятно да очаквате с нетърпение „флашката“, на която фотографът е записал снимките от фотосесията, а тя да се окаже повредена. Никой ме е виновен за това - просто се случва. И именно защото знаем, че се случва, създадохме сайтът на нашата агенция, където споделяме снимките Ви без размяна на физически копия.</p>
                    <div class="row g-2 mb-4">
                        <div class="col-sm-6">
                            <i class="fa fa-check text-primary me-3"></i>Индивидуален подход
                        </div>
                        <div class="col-sm-6">
                            <i class="fa fa-check text-primary me-3"></i>Внимание към детайла
                        </div>
                        <div class="col-sm-6">
                            <i class="fa fa-check text-primary me-3"></i>Удобен уеб сайт
                        </div>
                        <div class="col-sm-6">
                            <i class="fa fa-check text-primary me-3"></i>Транспорт до локация
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- About End -->
<!-- Facts Start -->
<div class="container-xxl py-5">
    <div class="container">
        <div class="text-center mx-auto wow fadeInUp" data-wow-delay="0.1s" style="max-width: 500px;">
            <p class="text-primary text-uppercase mb-2">Защо да изберете PHOTONIC?</p>
            <h1 class="display-6 mb-5">Това е нашето предложение за Вас</h1>
        </div>
        <div class="row g-3">
            <div class="col-lg-4 col-md-6 pt-lg-5 wow fadeInUp" data-wow-delay="0.1s">
                <div class="fact-item bg-light text-center h-100 p-5">
                    <h1 class="display-2 text-primary mb-3"><i class="fa-solid fa-heart"></i></h1>
                    <h4 class="mb-3">Отдаденост</h4>
                    <span>Нашата цел е да превърнем Вашите спомени в картини. Независимо дали става дума за сватба, семеен портрет, корпоративно събитие или индивидуална фотосесия, ние се стремим да уловим емоцията и красотата във всеки кадър.</span>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 wow fadeInUp" data-wow-delay="0.3s">
                <div class="fact-item bg-light text-center h-100 p-5">
                    <h1 class="display-2 text-primary mb-3"><i class="fa-solid fa-face-smile-beam"></i></h1>
                    <h4 class="mb-3">Удобство</h4>
                    <span>Предлагаме уеб сайт, през който можете лесно и бързо да резервирате фотосесии, като избете удобно време за Вас. Ще получите снимките си в профила си, като можете да ги разгледате или изтеглите, когато пожелаете.</span>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 pt-lg-5 wow fadeInUp" data-wow-delay="0.5s">
                <div class="fact-item bg-light text-center h-100 p-5">
                    <h1 class="display-2 text-primary mb-3"><i class="fa-solid fa-car"></i></h1>
                    <h4 class="mb-3">Превоз до локацията</h4>
                    <span>Развиваме дейността си в няколко области в Южна България - Пловдив, Стара Загора, Пазарджик и Хасково. Разполагаме със служебен автомобил, с който, ако желаете, можем да ви заведем до локацията.</span>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="container-xxl py-5">
    <div class="container mt-5">
        <div class="col-lg-6 wow fadeInUp mx-auto text-center" data-wow-delay="0.5s">
            <div class="h-100">
                <p class="text-primary text-uppercase mb-2">Нека Ви запознаем с работния ни процес</p>
                <h1 class="display-6 mb-4">КАК РАБОТИМ?</h1>
                <p>Във <span class="text-primary"><b>PHOTONIC</b></span> предлагаме разнообразие от фотографски услуги, създадени да уловят и съхранят най-ценните Ви моменти. Всичко това се случва с много отдаденост, любов към фотографията и организираност</p>
                <hr class="w-50 mx-auto mb-5 mb-xl-9 border-dark-subtle">
            </div>
        </div>
    </div>
    <div class="container mt-5">
        <div class="row" data-wow-delay="0.5s">
            <div class="col-12">
                <h1 class="text-primary">„Студиото“</h1>
                <p class="workflow-description">Умишлено „студиото“ е в кавички, защото такова няма (все още!). И все пак, ако влезете в нашето „студио“ (нашият дом), ще намерите... ами... двама човека, стоящи пред компютрите си. Единият обработва снимки, другият проучва локации и създава текстове за реклами и статии. Точно като този, който четете в момента.</p>
            </div>
        </div>
        <div class="row mt-5" data-wow-delay="0.5s">
            <div class="col-12">
                <h1 class="text-primary">Организация на фотосесия</h1>
                <p class="workflow-description">И докато тези двамата стоят пред компютрите си, в даден момент получават известие за резервирана фотосесия. Започва планирането! </p>
                <p class="workflow-description">Първото нещо, което правим, е да разгледаме резервацията. Събираме нужната информация, правим си изводите и звъним на клиента с конкретни въпроси, за да получим повече подробности и да изгладим изискванията. В момента, в който имаме всичките детайли, започва планиране на фотосесията.</p>
            </div>
        </div>
        <div class="row mt-5" data-wow-delay="0.5s">
            <div class="col-12">
                <h1 class="text-primary">Локацията</h1>
                <p class="workflow-description">Нашата <a target="_blank" asp-action="Reserve" asp-controller="PhotoShoot" class="text-primary fw-bold">форма за резервация</a> позволява да си изберете локация от списък с популярни такива, да избете своя собствена или да оставите избора нас, като само въведете ориентировъчни област и град.</p>
                <p class="workflow-description">В случай че клиентът ни е избрал популярна локация, това олеснява доста процеса по планиране. При въведена локация по избор, обикновено посещаваме мястото предварително и си правим план на живо. По подобен начин протича и процеса, при който изборът на локация е оставен на нас, с изключение на това, че има малко повече планиране от наша страна.</p>
            </div>
        </div>
        <div class="row mt-5" data-wow-delay="0.5s">
            <div class="col-12">
                <h1 class="text-primary">Правим ли среща с клиента преди фотосесията?</h1>
                <p class="workflow-description"><b><i>„Ама разбира се!“</i></b> </p>
                <p class="workflow-description">Не е задължително, но е препоръчително. Срещата може да се проведе на живо или онлайн, в зависимост от възможностите на клиента. Целта е да се изяснят всички детайли и изисквания, които клиентът има към фотосесията. Това ни помага да сме сигурни, че ще предоставим точно това, което се очаква от нас.</p>
            </div>
        </div>
        <div class="row mt-5" data-wow-delay="0.5s">
            <div class="col-12">
                <h1 class="text-primary">„Видях, че предлагате транспорт до локацията“</h1>
                <p class="workflow-description"><b><i>„Дори е безплатно!“</i></b> </p>
                <p class="workflow-description">Отново, не е задължително. При Ваше желание можем да Ви вземем с нас на път към локацията, като осигуряваме до 4 места в колата. Съответно, ако нямате с какво да стигнете до мястото, може да разчитате на нас. Дори и да вземете приятел с Вас (за което няма никакъв проблем), ще се опитаме да намерим място в колата.</p>
            </div>
        </div>
        <div class="row mt-5" data-wow-delay="0.5s">
            <div class="col-12">
                <h1 class="text-primary">Кога да очаквате снимките си?</h1>
                <p class="workflow-description">Обиковено ни отнема между седмица до месец да обработим и изпратим снимките Ви. Тях ще получите по начина, който сте избрали по време на резервацията - CD, USB или в профила Ви на сайта ни с онлайн галерия.</p>
            </div>
        </div>
        <div class="row mt-5" data-wow-delay="0.5s">
            <div class="col-12">
                <h1 class="text-primary">Често задавани въпроси</h1>
                <p class="workflow-description">Последвайте <a asp-action="FAQ" asp-controller="StaticContent" class="text-primary fw-bold">този</a> линк, за да откриете отговори на най-често задаваните въпроси. Ако не намрите вашият сред тях, ще се радваме да се свържете с нас и да обсъдим. Нашите контакти ще намерите <a asp-action="Contacts" asp-controller="StaticContent" class="text-primary fw-bold">тук.</a></p>
            </div>
        </div>

    </div>
</div>

<!-- Facts End -->

<style>
    .workflow-description{
        color: #000;
        margin-top: 20px;
    }
</style>
