@{
    ViewData["Title"] = "За нас";
}

<!-- About Start -->
<div class="container-xxl py-5">
    <div class="container">
        <div class="row g-5">
            <div class="col-lg-6 wow fadeInUp" data-wow-delay="0.1s">
                <div class="row g-3 img-twice position-relative h-100">
                    <div class="col-6">
                        <img class="img-fluid bg-light p-3" src="img/about-1.jpg" alt="">
                    </div>
                    <div class="col-6 align-self-end">
                        <img class="img-fluid bg-light p-3" src="img/about-2.jpg" alt="">
                    </div>
                </div>
            </div>
            <div class="col-lg-6 wow fadeInUp" data-wow-delay="0.5s">
                <div class="h-100">
                    <p class="text-primary text-uppercase mb-2">За нас</p>
                    <h1 class="display-6 mb-4">За нас | Какво целим?</h1>
                    <p>Нашата страст е посветена на улавянето на най-ценните Ви моменти. Вярваме, че всяка снимка разказва история и всяка история заслужава да бъде разказана с изключително внимание към детайла и артистичност.</p>
                    <p>Целта на Фотоник е да превърнем вашите спомени в изкуство. Независимо дали става дума за сватба, семеен портрет, корпоративно събитие или индивидуална фотосесия, ние се стремим да уловим емоцията и красотата във всеки кадър.</p>
                    <p>Фотоник се роди с идеята да улесни максимално клиентите ни. Всички знаем колко е неприятно да очаквате с нетърпение „флашката“, на която фотографът е записал снимките от фотосесията, а тя да се окаже повредена. Никой ме е виновен за това - просто се случва. И именно защото знаем, че се случва, създадохме сайтът на нашата агенция, където споделяме снимките Ви без размяна на физически копия.</p>
                    <div class="row g-2 mb-4">
                        <div class="col-sm-6">
                            <i class="fa fa-check text-primary me-3"></i>Индивидуален подход
                        </div>
                        <div class="col-sm-6">
                            <i class="fa fa-check text-primary me-3"></i>Внимание към детайла
                        </div>
                        <div class="col-sm-6">
                            <i class="fa fa-check text-primary me-3"></i>Удобен уеб сайт
                        </div>
                        <div class="col-sm-6">
                            <i class="fa fa-check text-primary me-3"></i>Транспорт до локация
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- About End -->
<!-- Facts Start -->
<div class="container-xxl py-5">
    <div class="container">
        <div class="text-center mx-auto wow fadeInUp" data-wow-delay="0.1s" style="max-width: 500px;">
            <p class="text-primary text-uppercase mb-2">Защо да изберете PHOTONIC?</p>
            <h1 class="display-6 mb-5">Това е нашето предложение за Вас</h1>
        </div>
        <div class="row g-3">
            <div class="col-lg-4 col-md-6 pt-lg-5 wow fadeInUp" data-wow-delay="0.1s">
                <div class="fact-item bg-light text-center h-100 p-5">
                    <h1 class="display-2 text-primary mb-3"><i class="fa-solid fa-heart"></i></h1>
                    <h4 class="mb-3">Отдаденост</h4>
                    <span>Нашата цел е да превърнем Вашите спомени в картини. Независимо дали става дума за сватба, семеен портрет, корпоративно събитие или индивидуална фотосесия, ние се стремим да уловим емоцията и красотата във всеки кадър.</span>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 wow fadeInUp" data-wow-delay="0.3s">
                <div class="fact-item bg-light text-center h-100 p-5">
                    <h1 class="display-2 text-primary mb-3"><i class="fa-solid fa-face-smile-beam"></i></h1>
                    <h4 class="mb-3">Удобство</h4>
                    <span>Предлагаме уеб сайт, през който можете лесно и бързо да резервирате фотосесии, като избете удобно време за Вас. Ще получите снимките си в профила си, като можете да ги разгледате или изтеглите, когато пожелаете.</span>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 pt-lg-5 wow fadeInUp" data-wow-delay="0.5s">
                <div class="fact-item bg-light text-center h-100 p-5">
                    <h1 class="display-2 text-primary mb-3"><i class="fa-solid fa-car"></i></h1>
                    <h4 class="mb-3">Превоз до локацията</h4>
                    <span>Развиваме дейността си в няколко области в Южна България - Пловдив, Стара Загора, Пазарджик и Хасково. Разполагаме със служебен автомобил, с който, ако желаете, можем да ви заведем до локацията.</span>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Facts End -->
