@{
    ViewData["Title"] = "За нас";
}

<!-- Page Header Start -->
<div class="container-fluid page-header py-5 mb-5 wow fadeIn" data-wow-delay="0.1s">
    <div class="container py-5">
        <h1 class="display-1 text-white animated slideInDown">За нас</h1>
        <nav aria-label="breadcrumb animated slideInDown">
            <ol class="breadcrumb text-uppercase mb-0">
                <li class="breadcrumb-item"><a class="text-white" asp-controller="Home" asp-action="Index">Начало</a></li>
                <li class="breadcrumb-item text-primary active" aria-current="page">За нас</li>
            </ol>
        </nav>
    </div>
</div>
<!-- Page Header End -->
<!-- About Start -->
<div class="container-xxl py-5">
    <div class="container">
        <div class="row g-5">
            <div class="col-lg-6 wow fadeIn" data-wow-delay="0.1s" style="min-height: 550px">
                <div class="about-img">
                    <img class="img-fluid" src="~/img/about-2.jpg" alt="about1">
                    <img class="img-fluid" src="~/img/about-4.jpg" alt="about2">
                </div>
            </div>
            <div class="col-lg-6 wow fadeIn" data-wow-delay="0.5s">
                <h4 class="section-title">За нас</h4>
                <h1 class="display-5 mb-4">Нашето вдъхновение<br /> са вашите спомени</h1>
                <p>Ние сме малък екип от хора, които правят това, което обичат и обичат това, което правят. За нас фотографията не е просто работа, а начин да превръщаме вашите моменти в картини, които бихте окачили на стената или използвали стратегически за бизнеса си.</p>
                <p class="mb-4">Всяка фотосесия е ново предизвикателство и възможност да покажем красотата на света през нашата призма. Вярваме, че „снимането“ е повече от просто добро техническо оборудване – това е емоция и страст към фотографията и желание да покажеш красивото от света, в който живеем.</p>
                <!--<div class="d-flex align-items-center mb-5">
                    <div class="d-flex flex-shrink-0 align-items-center justify-content-center border border-5 border-primary" style="width: 120px; height: 120px;">
                        <h1 class="display-1 mb-n2" data-toggle="counter-up">25</h1>
                    </div>
                    <div class="ps-4">
                        <h3>Years</h3>
                        <h3>Working</h3>
                        <h3 class="mb-0">Experience</h3>
                    </div>
                </div>
                <a class="btn btn-primary py-3 px-5" href="">Read More</a>-->
            </div>
        </div>
    </div>
</div>
<!-- About End -->
<!-- Feature Start -->
<div class="container-xxl py-5">
    <div class="container">
        <div class="row g-5">
            <div class="col-lg-6 wow fadeInUp" data-wow-delay="0.1s">
                <h5 class="section-title">Нашата цел</h5>
                <!--<h1 class="display-5 mb-4">Целта ни е </h1>-->
                <p class="mb-4"></p>
                <div class="row g-4">
                    <div class="col-12">
                        <div class="d-flex align-items-start">
                            <h1><i class="fa-solid fa-infinity text-primary"></i></h1>
                            <div class="ms-4">
                                <h3>Нека увековечим вашите моменти</h3>
                                <p class="mb-0">Нашата цел е да запазим вашите моменти, като ги „нарисуваме“ с фотоапарат. Независимо дали сме на вашия абитуриентски бал, на вашето корпоративно събитие или просто снимаме вашия личен портрет, ще създадем спомени, които ще може да поглеждате с лека носталгия, но и с удовлетвореност.</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-12">
                        <div class="d-flex align-items-start">
                            <h1><i class="fa-solid fa-check-double text-primary"></i></h1>
                            <div class="ms-4">
                                <h3>За нас всеки момент е специален</h3>
                                <p class="mb-0">Ние се стремим да уловим емоцията и красотата във всеки кадър. Всеки момент е специален сам по себе си - както този, в който хвърляте вашата студентска шапка, така и този, в който вашите родители се усмихват и нямат търпение да ви прегърнат. Ние не даваме приоритет на единия или другия - опитваме се да заснемем целостта му.</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-12">
                        <div class="d-flex align-items-start">
                            <h1><i class="fa-regular fa-face-grin-beam text-primary"></i></h1>
                            <div class="ms-4">
                                <h3>Предлагаме удобен уебсайт</h3>
                                <p class="mb-0">Фотоник се роди с идеята да улесни максимално клиентите си. Всички знаем колко е неприятно да чакате с нетърпение „флашката“ със снимките, а тя да се окаже повредена. За да избегнем подобни ситуации, създадохме онлайн пространство, където споделяме снимките ви бързо, сигурно и без нужда от физически носители. Освен това, при нас може да резервирате фотосесия изцяло онлайн, лесно и удобно, независимо къде се намирате.</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-6 wow fadeInUp" data-wow-delay="0.5s">
                <div class="feature-img">
                    <img class="img-fluid" src="~/img/about-1.jpg" alt="about3" style="max-height:450px">
                    <img class="img-fluid" src="~/img/service-9.jpg" alt="about3" style="max-height:450px">
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Feature End -->
<!-- Team Start -->
<div class="container-xxl py-5">
    <div class="container">
        <div class="text-center mx-auto mb-5 wow fadeInUp" data-wow-delay="0.1s" style="max-width: 600px;">
            <h4 class="section-title">Екип</h4>
            <h1 class="display-5 mb-4">Кой стои зад Фотоник?</h1>
        </div>
        <div class="row g-0 team-items">
            <div class="col-lg-4 col-md-6 wow fadeInUp mx-auto" data-wow-delay="0.1s">
                <div class="team-item position-relative">
                    <div class="position-relative">
                        <img class="img-fluid" src="~/img/team-2.jpg" alt="">
                        <div class="team-social text-center">
                            <a class="btn btn-square" href=""><i class="fab fa-facebook-f"></i></a>
                            <a class="btn btn-square" href=""><i class="fab fa-instagram"></i></a>
                        </div>
                    </div>
                    <div class="bg-light text-center p-4">
                        <h3 class="mt-2">Християн Николов</h3>
                        <span class="text-primary">Фотограф</span>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 wow fadeInUp mx-auto" data-wow-delay="0.3s">
                <div class="team-item position-relative">
                    <div class="position-relative">
                        <img class="img-fluid" src="~/img/team-3.jpg" alt="">
                        <!--<div class="team-social text-center">
                            <a class="btn btn-square" href=""><i class="fab fa-facebook-f"></i></a>
                            <a class="btn btn-square" href=""><i class="fab fa-twitter"></i></a>
                            <a class="btn btn-square" href=""><i class="fab fa-instagram"></i></a>
                        </div>-->
                    </div>
                    <div class="bg-light text-center p-4">
                        <h3 class="mt-2">Ивана Панчева</h3>
                        <span class="text-primary">Реклама и планиране</span>
                    </div>
                </div>
            </div>
            <!--<div class="col-lg-3 col-md-6 wow fadeInUp" data-wow-delay="0.5s">
                <div class="team-item position-relative">
                    <div class="position-relative">
                        <img class="img-fluid" src="img/team-3.jpg" alt="">
                        <div class="team-social text-center">
                            <a class="btn btn-square" href=""><i class="fab fa-facebook-f"></i></a>
                            <a class="btn btn-square" href=""><i class="fab fa-twitter"></i></a>
                            <a class="btn btn-square" href=""><i class="fab fa-instagram"></i></a>
                        </div>
                    </div>
                    <div class="bg-light text-center p-4">
                        <h3 class="mt-2">Architect Name</h3>
                        <span class="text-primary">Designation</span>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 wow fadeInUp" data-wow-delay="0.7s">
                <div class="team-item position-relative">
                    <div class="position-relative">
                        <img class="img-fluid" src="img/team-4.jpg" alt="">
                        <div class="team-social text-center">
                            <a class="btn btn-square" href=""><i class="fab fa-facebook-f"></i></a>
                            <a class="btn btn-square" href=""><i class="fab fa-twitter"></i></a>
                            <a class="btn btn-square" href=""><i class="fab fa-instagram"></i></a>
                        </div>
                    </div>
                    <div class="bg-light text-center p-4">
                        <h3 class="mt-2">Architect Name</h3>
                        <span class="text-primary">Designation</span>
                    </div>
                </div>
            </div>-->
        </div>
    </div>
</div>
<!-- Team End -->
<!--FAQ Start-->
<div class="container-xxl py-5">
    <div class="container mt-5">
        <div class="col-lg-6 wow fadeInUp mx-auto text-center" data-wow-delay="0.5s">
            <div class="h-100">
                <h1 class="display-6 mb-4">ЧЕСТО ЗАДАВАНИ ВЪПРОСИ</h1>
                <p>Тук ще намерите отговорите на най-често задаваните въпроси</p>
                <hr class="w-50 mx-auto mb-5 mb-xl-9 border-dark-subtle">
            </div>
        </div>
    </div>
    <div class="container mt-5">
        <!--<div class="row" data-wow-delay="0.5s">
            <div class="col-12">
                <h1 class="text-primary">„Студиото“</h1>
                <p class="workflow-description">Умишлено „студиото“ е в кавички, защото такова няма (все още!). И все пак, ако влезете в нашето „студио“ (нашият дом), ще намерите... двама човека, стоящи пред компютрите си. Единият вероятно ще обработва снимки, другият проучва локации и създава текстове за реклами и статии. Точно като този, който четете в момента.</p>
            </div>
        </div>
        <div class="row mt-5" data-wow-delay="0.5s">
            <div class="col-12">
                <h1 class="text-primary">Организация на фотосесия</h1>
                <p class="workflow-description">И докато тези двамата стоят пред компютрите си, в даден момент получават известие за резервирана фотосесия. Започва планирането! </p>
                <p class="workflow-description">Първото нещо, което правим, е да разгледаме резервацията. Събираме нужната информация, правим си изводите и звъним на клиента с конкретни въпроси, за да получим повече подробности и да изгладим изискванията. В момента, в който имаме всичките детайли, започва планиране на фотосесията.</p>
            </div>
        </div>
        <div class="row mt-5" data-wow-delay="0.5s">
            <div class="col-12">
                <h1 class="text-primary">Локацията</h1>
                <p class="workflow-description">Нашата <a target="_blank" asp-action="Reserve" asp-controller="PhotoShoot" class="text-primary fw-bold">форма за резервация</a> позволява да си изберете локация от списък с популярни такива, да избете своя собствена или да оставите избора нас, като само въведете ориентировъчни област и град.</p>
                <p class="workflow-description">В случай че клиентът ни е избрал популярна локация, това олеснява доста процеса по планиране. При въведена локация по избор, обикновено посещаваме мястото предварително и си правим план на живо. По подобен начин протича и процесът, при който изборът на локация е оставен на нас, с изключение на това, че има малко повече планиране от наша страна.</p>
            </div>
        </div>-->
        <div class="row mt-5" data-wow-delay="0.5s">
            <div class="col-12">
                <h1 class="text-primary">Правим ли среща с клиента преди фотосесията?</h1>
                <p class="workflow-description"><b><i>„Да, разбира се!“</i></b> </p>
                <p class="workflow-description">Не е задължително, но е препоръчително. Срещата може да се проведе на живо или онлайн, в зависимост от възможностите на клиента. Целта е да се изяснят всички детайли и изисквания, които клиентът има към фотосесията. Това ни помага да сме сигурни, че ще предоставим точно това, което се очаква от нас.</p>
            </div>
        </div>
        <div class="row mt-5" data-wow-delay="0.5s">
            <div class="col-12">
                <h1 class="text-primary">„Видях, че предлагате транспорт до локацията“</h1>
                <p class="workflow-description"><b><i>„Дори е безплатно!“</i></b> </p>
                <p class="workflow-description">При Ваше желание можем да Ви вземем с нас на път към локацията, като осигуряваме до 4 места в колата. Съответно, ако нямате с какво да стигнете до мястото, може да разчитате на нас.</p>
            </div>
        </div>
        <div class="row mt-5" data-wow-delay="0.5s">
            <div class="col-12">
                <h1 class="text-primary">Мога ли да доведа приятел повреме на снимките?</h1>
                <p class="workflow-description">Разбира се! Може да доведете приятел, роднина, дори домашния си любимец - всичко, което ще ви накара да се чувствате добре. Все пак преди всичко трябва да ни е приятно!</p>
            </div>
        </div>
        <div class="row mt-5" data-wow-delay="0.5s">
            <div class="col-12">
                <h1 class="text-primary">Кога да очаквате снимките си?</h1>
                <p class="workflow-description">Обиковено ни отнема между седмица до месец да обработим и изпратим снимките Ви. Тях ще получите по начина, който сте избрали по време на резервацията - CD, USB или в профила Ви на сайта ни с онлайн галерия.</p>
            </div>
        </div>
        <hr />
        <div class="row mt-4" data-wow-delay="0.5s">
            <div class="col-12">
                <h1>Не намирате отговор?</h1>
                <p class="workflow-description">Последвайте <a asp-action="FAQ" asp-controller="StaticContent" class="text-primary fw-bold">този</a> линк, за да прегледате пълния списък на най-често задаваните въпроси. Ако не намрите вашия сред тях, ще се радваме да се свържете с нас и да обсъдим. Нашите контакти ще намерите <a asp-action="Contacts" asp-controller="StaticContent" class="text-primary fw-bold">тук.</a></p>
            </div>
        </div>

    </div>
</div>
<!-- FAQ End -->

<style>
    .workflow-description{
        color: #000;
        margin-top: 20px;
    }
</style>
