@model SendInquiryEmailTemplateDTO

@{
    @inject IConfiguration configuration
    string siteKey = configuration["ReCaptcha:SiteKey"] ?? "";
    ViewData["Title"] = "Контакти";
}

<!-- Google Map Start -->
<!--<div class="container-xxl py-5 px-0 wow fadeInUp" data-wow-delay="0.1s">
    <iframe src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d741.0489308045962!2d24.8849853!3d42.0175335!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x14acd8920977cc05%3A0xc964e51cf5827cbf!2z0KbQtdC90YLRitGALCDRg9C7LiDigJ7Qk9C10L3QtdGA0LDQuyDQmtC-0LvQtdCy4oCcIDIyLCA0MjMxINCQ0YHQtdC90L7QstCz0YDQsNC0!5e0!3m2!1sbg!2sbg!4v1744447429690!5m2!1sbg!2sbg" width="100%" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
</div>-->
<!-- Google Map End -->
<!-- Page Header Start -->
<div class="container-fluid page-header py-5 mb-5 wow fadeIn" data-wow-delay="0.1s">
    <div class="container py-5">
        <h1 class="display-1 text-white animated slideInDown">Контакти</h1>
        <nav aria-label="breadcrumb animated slideInDown">
            <ol class="breadcrumb text-uppercase mb-0">
                <li class="breadcrumb-item"><a class="text-white" asp-controller="Home" asp-action="Index">Начало</a></li>
                <li class="breadcrumb-item text-primary active" aria-current="page">Контакти</li>
            </ol>
        </nav>
    </div>
</div>
<!-- Page Header End -->
<!-- Contact Start -->
<div class="container-xxl py-5">
    <div class="container">
        <div class="text-center mx-auto mb-5 wow fadeInUp" data-wow-delay="0.1s" style="max-width: 600px;">
            <h4 class="section-title">Контакти</h4>
            <h1 class="display-5 mb-4">Свържете се с нас</h1>
        </div>
        <div class="row g-5">
            <div class="col-lg-6 wow fadeInUp" data-wow-delay="0.1s">
                <div class="d-flex flex-column justify-content-between h-100">
                    <div class="bg-light d-flex align-items-center w-100 p-4 mb-4">
                        <div class="d-flex flex-shrink-0 align-items-center justify-content-center bg-dark" style="width: 55px; height: 55px;">
                            <i class="fa fa-map-marker-alt text-primary"></i>
                        </div>
                        <div class="ms-4">
                            <p class="mb-2">Социални мрежи</p>
                            <h3 class="mb-0">
                                <a target="_blank" class="rounded-circle px-2 me-2 social-contacts" href="https://www.facebook.com"><i style="color:#365a99" class="fab fa-facebook-f"></i></a>
                                <a target="_blank" class="rounded-circle px-2 me-2 social-contacts" href="https://www.instagram.com"><i style="color:#dd2a7b" class="fab fa-instagram"></i></a>
                                <a target="_blank" class="rounded-circle px-2 me-2 social-contacts" href="https://www.linkedin.com"><i style="color:#0072B1" class="fab fa-linkedin-in"></i></a>
                            </h3>
                        </div>
                    </div>
                    <div class="bg-light d-flex align-items-center w-100 p-4 mb-4">
                        <div class="d-flex flex-shrink-0 align-items-center justify-content-center bg-dark" style="width: 55px; height: 55px;">
                            <i class="fa fa-phone-alt text-primary"></i>
                        </div>
                        <div class="ms-4">
                            <p class="mb-2">Телефон</p>
                            <h3 class="mb-0">+359878131828</h3>
                        </div>
                    </div>
                    <div class="bg-light d-flex align-items-center w-100 p-4">
                        <div class="d-flex flex-shrink-0 align-items-center justify-content-center bg-dark" style="width: 55px; height: 55px;">
                            <i class="fa fa-envelope-open text-primary"></i>
                        </div>
                        <div class="ms-4">
                            <p class="mb-2">Имейл</p>
                            <h3 class="mb-0">photonic@gmail.com</h3>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-6 wow fadeInUp" data-wow-delay="0.5s">
                <!--<h4 class="mb-4">Опитваме се да отговаряме на всички Ваши запитвания в най-кратък срок</h4>-->
                <form asp-action="SendInquiry" asp-controller="Inquiry" method="post">
                    <div asp-validation-summary="All" class="text-danger"></div>
                    <input type="hidden" asp-for="ReCaptchaToken" id="recaptchaTokenInputId" />
                    <div class="row g-3">
                        <div class="col-md-6">
                            <div class="form-floating">
                                <input type="text" class="form-control" asp-for="Name" placeholder="Име">
                                <label for="name">Име</label>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-floating">
                                <input type="email" class="form-control" asp-for="From" placeholder="Имейл">
                                <label for="email">Имейл</label>
                            </div>
                        </div>
                        <div class="col-12">
                            <div class="form-floating">
                                <input type="text" class="form-control" asp-for="Topic" placeholder="Тема">
                                <label for="subject">Тема</label>
                            </div>
                        </div>
                        <div class="col-12">
                            <div class="form-floating">
                                <textarea class="form-control" placeholder="Вашето запитване" asp-for="Content" style="height: 100px"></textarea>
                                <label for="message">Вашето запитване</label>
                            </div>
                        </div>
                        <div class="col-12">
                            <div class="form-floating">
                                <div class="text-center" id="recaptcha-container" data-callback="onSubmit"></div>
                            </div>
                        </div>
                        <div class="col-12">
                            <button class="btn btn-primary w-100 py-3" type="submit">Изпрати</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
<!-- Contact End -->
<!-- Google Map Start -->
<div class="container-xxl pt-5 px-0 wow fadeIn" data-wow-delay="0.1s">
    <iframe class="w-100 mb-n2" style="height: 450px;"
            src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3001156.4288297426!2d-78.01371936852176!3d42.72876761954724!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x4ccc4bf0f123a5a9%3A0xddcfc6c1de189567!2sNew%20York%2C%20USA!5e0!3m2!1sen!2sbd!4v1603794290143!5m2!1sen!2sbd"
            frameborder="0" allowfullscreen="" aria-hidden="false" tabindex="0"></iframe>
</div>
<!-- Google Map End -->
    
<style>
    .social-contacts{
        font-size: unset;
        transition: .4s ease-in-out;
    }
    .social-contacts:hover{
        font-size: 2.2rem;
        transition: .4s ease-in-out;
    }
</style>

<script src="https://www.google.com/recaptcha/api.js"></script>
<script src="~/js/custom//recaptcha.js" data-siteKey="@siteKey"></script>
<script src="https://www.google.com/recaptcha/api.js?onload=onloadCallback&render=explicit" async defer> </script>

<script>
    $(document).ready(function () {
        $(".btn-submit").click(function (event) {
            event.preventDefault();

            //validate on each submit
            validateName();
            validateEmail();
            validateTopic();
            validateContent();

            //submit the form if all of the form inputs are valid
            if (validateName() && validateEmail() && validateTopic() && validateContent()) {
                $("#contactForm").submit();
            }
        });


        //check for changes in inputs
        $("#Name").change(function () {
            validateName();
        });

        $("#From").change(function () {
            validateEmail();
        });

        $("#Topic").change(function () {
            validateTopic();
        });

        $("#Content").change(function () {
            validateContent();
        });
    });


    //validate inputs
    function validateName() {
        if ($("#Name").val() == "" || $("#Name").val() == null) {
            $("#Name").addClass("border border-danger");
            return false;
        }

        else {
            $("#Name").removeClass("border border-danger");
            $(".btn-submit").prop('disabled', false);
            return true;
        }
    }


    function validateEmail() {
        if ($("#From").val() == "" || $("#From").val() == null) {
            $("#From").addClass("border border-danger");
            return false;
        }

        else {
            const email = $('#From').val();
            const emailRegex = /^[^\s@@]+@@[^\s@@]+\.[^\s@@]+$/;
            if (!emailRegex.test(email)) {
                $('#email-error-message').css("display", "block");
                return false;
            }

            else {
                $('#email-error-message').css("display", "none");
                return true;
            }

            $("#From").removeClass("border border-danger");
            return true;
        }
    }

    function validateTopic() {
        if ($("#Topic").val() == "" || $("#Topic").val() == null) {
            $("#Topic").addClass("border border-danger");
            return false;
        }

        else {
            $("#Topic").removeClass("border border-danger");
            return true;
        }
    }

    function validateContent() {
        if ($("#Content").val() == "" || $("#Content").val() == null) {
            $("#Content").addClass("border border-danger");
            return false;
        }

        else {
            $("#Content").removeClass("border border-danger");
            return true;
        }
    }
</script>
