@model SendInquiryEmailTemplateDTO

@{
    ViewData["Title"] = "Контакти";
}

<div class="container">
    <p>Може да се свържете с нас всеки ден от 9:00 до 18:00 ч</p>
    <p><i class="fa fa-map-marker-alt me-2"></i>Асеновград, България</p>
    <p><i class="fa fa-phone-alt me-2"></i>+359 878 131828</p>
    <p><i class="fa fa-envelope me-2"></i>photonic@gmail.com</p>
</div>

<!-- Google Map Start -->
<div class="container-xxl py-5 px-0 wow fadeInUp" data-wow-delay="0.1s">
    <iframe src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d741.0489308045962!2d24.8849853!3d42.0175335!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x14acd8920977cc05%3A0xc964e51cf5827cbf!2z0KbQtdC90YLRitGALCDRg9C7LiDigJ7Qk9C10L3QtdGA0LDQuyDQmtC-0LvQtdCy4oCcIDIyLCA0MjMxINCQ0YHQtdC90L7QstCz0YDQsNC0!5e0!3m2!1sbg!2sbg!4v1744447429690!5m2!1sbg!2sbg" width="100%" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
</div>
<!-- Google Map End -->

<!-- Contact Start -->
<div class="container-xxl py-5">
    <div class="container">
        <div class="text-center mx-auto wow fadeInUp" data-wow-delay="0.1s" style="max-width: 500px;">
            <p class="text-primary text-uppercase mb-2">Запитване</p>
            <h1 class="display-6 mb-5">Изпратете ни запитване по всяко време</h1>
        </div>
        <div class="row g-0 justify-content-center">
            <div class="col-lg-8 wow fadeInUp" data-wow-delay="0.1s">
                <p class="text-center mb-4">Може да ни зададете всякакви въпроси по всяко време. Стараем се да отговорим на всеки един от тях възможно най-скоро.</p>
                <div asp-validation-summary="All" class="text-danger"></div>
                <form asp-action="SendInquiry" asp-controller="Inquiry" method="POST" id="contactForm">
                    <div class="row g-3">
                        <div class="col-md-6">
                            <div class="form-floating">
                                <input type="text" class="form-control" asp-for="Name" placeholder="Име">
                                <label for="name">Име</label>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-floating">
                                <input type="email" class="form-control" asp-for="From" placeholder="Имейл">
                                <label for="email">Имейл</label>
                            </div>
                        </div>
                        <div class="col-12">
                            <div class="form-floating">
                                <input type="text" class="form-control" asp-for="Topic" placeholder="Тема">
                                <label for="subject">Тема</label>
                            </div>
                        </div>
                        <div class="col-12">
                            <div class="form-floating">
                                <textarea class="form-control" placeholder="Вашето запитване" asp-for="Content" style="height: 200px"></textarea>
                                <label for="message">Вашето запитване</label>
                            </div>
                        </div>
                        <div class="col-12 text-center">
                            <button class="btn btn-primary py-3 px-5 btn-submit" type="submit">Изпрати</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
<!-- Contact End -->

<script>
    $(document).ready(function () {
        $(".btn-submit").click(function (event) {
            event.preventDefault();

            //validate on each submit
            validateName();
            validateEmail();
            validateTopic();
            validateContent();

            //submit the form if all of the form inputs are valid
            if (validateName() && validateEmail() && validateTopic() && validateContent()) {
                $("#contactForm").submit();
            }
        });


        //check for changes in inputs
        $("#Name").change(function () {
            validateName();
        });

        $("#From").change(function () {
            validateEmail();
        });

        $("#Topic").change(function () {
            validateTopic();
        });

        $("#Content").change(function () {
            validateContent();
        });
    });


    //validate inputs
    function validateName() {
        if ($("#Name").val() == "" || $("#Name").val() == null) {
            $("#Name").addClass("border border-danger");
            return false;
        }

        else {
            $("#Name").removeClass("border border-danger");
            $(".btn-submit").prop('disabled', false);
            return true;
        }
    }


    function validateEmail() {
        if ($("#From").val() == "" || $("#From").val() == null) {
            $("#From").addClass("border border-danger");
            return false;
        }

        else {
            $("#From").removeClass("border border-danger");
            return true;
        }
    }

    function validateTopic() {
        if ($("#Topic").val() == "" || $("#Topic").val() == null) {
            $("#Topic").addClass("border border-danger");
            return false;
        }

        else {
            $("#Topic").removeClass("border border-danger");
            return true;
        }
    }

    function validateContent() {
        if ($("#Content").val() == "" || $("#Content").val() == null) {
            $("#Content").addClass("border border-danger");
            return false;
        }

        else {
            $("#Content").removeClass("border border-danger");
            return true;
        }
    }
</script>
