@{
    ViewData["Title"] = "Често задавани въпроси";
}

<!--FAQ Start-->
<div class="container-xxl py-5">
    <div class="container">
        <div class="text-center mx-auto wow fadeInUp" data-wow-delay="0.1s" style="max-width: 500px;">
            <h1 class="display-2"><i class="fa-solid fa-clipboard-question text-primary mb-3"></i></h1>
            <h1 class="display-6 mb-2">ЧЕСТО ЗАДАВАНИ ВЪПРОСИ</h1>
            <p class="text-primary text-uppercase mb-2">Тук ще намерите отговор на най-често задаваните въпроси относно нашите услуги.</p>
        </div>
        <div class="row g-3 mt-5">
            <div class="col-lg-12 col-md-12 pt-lg-5 wow fadeInUp" data-wow-delay="0.1s">
                <h2 class="text-primary">ПРОФИЛ</h2>
                <div class="accordion mb-4" id="faqAccordionAccount">
                    <div class="accordion-item">
                        <h2 class="accordion-header" id="headingOneAccount">
                            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseOneAccount" aria-expanded="false" aria-controls="collapseOneAccount">
                                Как мога да създам акаунт?
                            </button>
                        </h2>
                        <div id="collapseOneAccount" class="accordion-collapse collapse" aria-labelledby="headingOneAccount" data-bs-parent="#faqAccordionAccount">
                            <div class="accordion-body">
                                За да създадете акаунт, кликнете върху бутона с иконка на потребител в горния десен ъгъл и попълнете необходимата информация. След успешно изпращане на формата за регистрация, ще получите подкана за активация на профила на имейла, с който сте се регистрирали.
                            </div>
                        </div>
                    </div>
                    <div class="accordion-item">
                        <h2 class="accordion-header" id="headingFiveAccount">
                            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseFiveAccount" aria-expanded="false" aria-controls="collapseFiveAccount">
                                Мога ли да резервирам онлайн фотосесия без да имам регистрация в сайта?
                            </button>
                        </h2>
                        <div id="collapseFiveAccount" class="accordion-collapse collapse" aria-labelledby="headingFiveAccount" data-bs-parent="#faqAccordionAccount">
                            <div class="accordion-body">
                                Можете да направите резервация през сайта без предварителна регистрация, но веднага след нея се създава автоматично профил за вас. Ще получите имейл с парола, за да имате достъп до профила си. Не може да направите онлайн резервация без да имате профил изобщо.
                            </div>
                        </div>
                    </div>
                    <div class="accordion-item">
                        <h2 class="accordion-header" id="headingTwoAccount">
                            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseTwoAccount" aria-expanded="false" aria-controls="collapseTwoAccount">
                                Как мога да възстановя забравена парола?
                            </button>
                        </h2>
                        <div id="collapseTwoAccount" class="accordion-collapse collapse" aria-labelledby="headingTwoAccount" data-bs-parent="#faqAccordionAccount">
                            <div class="accordion-body">
                                Ако сте забравили паролата си, кликнете върху "Забравена парола?" на страницата за вход и следвайте инструкциите, за да я възстановите.
                            </div>
                        </div>
                    </div>
                    <div class="accordion-item">
                        <h2 class="accordion-header" id="headingThreeAccount">
                            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseThreeAccount" aria-expanded="false" aria-controls="collapseThreeAccount">
                                Как мога да променя паролата си?
                            </button>
                        </h2>
                        <div id="collapseThreeAccount" class="accordion-collapse collapse" aria-labelledby="headingThreeAccount" data-bs-parent="#faqAccordionAccount">
                            <div class="accordion-body">
                                За да промените паролата си влезте в профила си, след това от падащото меню в горния десен ъгъл избете „Управление“. На страницата, която ще се зареди, ще видите бутон „Промяна на парола“. Клинкете го и следвайте инструкциите.
                            </div>
                        </div>
                    </div>
                </div>
                <h2 class="mt-5 text-primary">РЕЗЕРВАЦИЯ НА ФОТОСЕСИЯ</h2>
                <div class="accordion mb-4" id="faqAccordionBooking">


                    <div class="accordion-item">
                        <h2 class="accordion-header" id="headingSixAccount">
                            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseSixAccount" aria-expanded="false" aria-controls="collapseSixAccount">
                                Мога ли да резервирам фотосесия без да използвам сайта? Например по телефон или имейл?
                            </button>
                        </h2>
                        <div id="collapseSixAccount" class="accordion-collapse collapse" aria-labelledby="headingSixAccount" data-bs-parent="#faqAccordionBooking">
                            <div class="accordion-body">
                                Да, разбира се. Можете да направите резервация по имейл, телефон или като ни пишете в Instagram, Viber или Facebook. Контактите ни ще намерите <a target="_blank" asp-controller="StaticContent" asp-action="Contacts" class="text-primary">тук</a>.
                            </div>
                        </div>
                    </div>


                    <div class="accordion-item">
                        <h2 class="accordion-header" id="headingOneBooking">
                            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseOneBooking" aria-expanded="false" aria-controls="collapseOneBooking">
                                Какво мога да резервирам през сайта?
                            </button>
                        </h2>
                        <div id="collapseOneBooking" class="accordion-collapse collapse" aria-labelledby="headingOneBooking" data-bs-parent="#faqAccordionBooking">
                            <div class="accordion-body">
                                През сайта могат да се резервират всички стандартни услуги, които предлагаме. За всяка услуга, която не е част от стандартните ни предложения, е необходимо да се свържете с нас. Контактите ни ще намерите <a target="_blank" asp-controller="StaticContent" asp-action="Contacts" class="text-primary">тук</a>.
                            </div>
                        </div>
                    </div>
                    <div class="accordion-item">
                        <h2 class="accordion-header" id="headingThreeBooking">
                            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseThreeBooking" aria-expanded="false" aria-controls="collapseThreeBooking">
                                Мога ли да резервирам фотосесия, която не е част от стандартните услуги?
                            </button>
                        </h2>
                        <div id="collapseThreeBooking" class="accordion-collapse collapse" aria-labelledby="headingThreeBooking" data-bs-parent="#faqAccordionBooking">
                            <div class="accordion-body">
                                Да, можете да изберете опцията „Друго“ от списъка с категории и да опишете желаната услуга.
                            </div>
                        </div>
                    </div>
                    <div class="accordion-item">
                        <h2 class="accordion-header" id="headingTwo">
                            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseTwoBooking" aria-expanded="false" aria-controls="collapseTwoBooking">
                                Мога ли да резервирам фотосесия за повече от един човек?
                            </button>
                        </h2>
                        <div id="collapseTwoBooking" class="accordion-collapse collapse" aria-labelledby="headingTwoBooking" data-bs-parent="#faqAccordionBooking">
                            <div class="accordion-body">
                                Може да резервирате групова фотосесия, но не и пълноразмерна фотосесия за няколко отделни човека. Една резервация е за един човек/група от хора, тъй като се избира само един времеви диапазон за резервацията. Ако желаете да резервирате няколко последователни фотосесии за отделни хора в един ден, се свържете с нас. Контактите ни ще намерите <a target="_blank" asp-controller="StaticContent" asp-action="Contacts" class="text-primary">тук</a>.
                            </div>
                        </div>
                    </div>
                    <div class="accordion-item">
                        <h2 class="accordion-header" id="headingElevenBooking">
                            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseElevenBooking" aria-expanded="false" aria-controls="collapseElevenBooking">
                                Защо не мога да резервирам фотосесия за същия или следващия ден?
                            </button>
                        </h2>
                        <div id="collapseElevenBooking" class="accordion-collapse collapse" aria-labelledby="headingElevenBooking" data-bs-parent="#faqAccordionBooking">
                            <div class="accordion-body">
                                Не е възможно поради технологичното време, необходимо за подготовка на фотосесията.
                            </div>
                        </div>
                    </div>
                    <div class="accordion-item">
                        <h2 class="accordion-header" id="headingFourBooking">
                            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseFourBooking" aria-expanded="false" aria-controls="collapseFourBooking">
                                Мога ли да резервирам фотосесия с различен ценови пакет от предлаганите?
                            </button>
                        </h2>
                        <div id="collapseFourBooking" class="accordion-collapse collapse" aria-labelledby="headingFourBooking" data-bs-parent="#faqAccordionBooking">
                            <div class="accordion-body">
                                Да, като изберете „Друго“ от списъка с ценови пакети. В полето „Описание“ на последната стъпка от резервацията опишете желанията си, а ние ще ви обявим съответната цена. За допълнителни въпроси се свържете с нас. Контактите ни ще намерите <a target="_blank" asp-controller="StaticContent" asp-action="Contacts" class="text-primary">тук</a>.
                            </div>
                        </div>
                    </div>
                    <div class="accordion-item">
                        <h2 class="accordion-header" id="headingFiveBooking">
                            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseFiveBooking" aria-expanded="false" aria-controls="collapseFiveBooking">
                                Мога ли да резервирам фотосесия за събитие с много кратък или много дълъг времеви диапазон?
                            </button>
                        </h2>
                        <div id="collapseFiveBooking" class="accordion-collapse collapse" aria-labelledby="headingFiveBooking" data-bs-parent="#faqAccordionBooking">
                            <div class="accordion-body">
                                Да, няма минимално или максимално ограничение на времетраенето. Цената ще варира спрямо сложността и времето за заснемане. Обърнете внимание, че кратко, но технически сложно събитие може да струва повече от дълго, стандартно събитие.
                            </div>
                        </div>
                    </div>
                    <div class="accordion-item">
                        <h2 class="accordion-header" id="headingSixBooking">
                            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseSixBooking" aria-expanded="false" aria-controls="collapseSixBooking">
                                Мога ли да резервирам фотосесия извън областите, които обслужвате?
                            </button>
                        </h2>
                        <div id="collapseSixBooking" class="accordion-collapse collapse" aria-labelledby="headingSixBooking" data-bs-parent="#faqAccordionBooking">
                            <div class="accordion-body">
                                Да, но е необходимо да се свържете, за да уточним условията. Резервация за такива локации не може да се направи директно през сайта. Контактите ни ще намерите <a target="_blank" asp-controller="StaticContent" asp-action="Contacts" class="text-primary">тук</a>.
                            </div>
                        </div>
                    </div>
                    <div class="accordion-item">
                        <h2 class="accordion-header" id="headingSevenBooking">
                            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseSevenBooking" aria-expanded="false" aria-controls="collapseSevenBooking">
                                Мога ли да резервирам събитие извън България?
                            </button>
                        </h2>
                        <div id="collapseSevenBooking" class="accordion-collapse collapse" aria-labelledby="headingSevenBooking" data-bs-parent="#faqAccordionBooking">
                            <div class="accordion-body">
                                Да, но трябва да се свържете с нас своевременно. През сайта това не е възможно. Контактите ни ще намерите <a target="_blank" asp-controller="StaticContent" asp-action="Contacts" class="text-primary">тук</a>.
                            </div>
                        </div>
                    </div>
                    <div class="accordion-item">
                        <h2 class="accordion-header" id="headingEightBooking">
                            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseEightBooking" aria-expanded="false" aria-controls="collapseEightBooking">
                                Мога ли да резервирам фотосесия на кораб, яхта, самолет или друго нестандартно място?
                            </button>
                        </h2>
                        <div id="collapseEightBooking" class="accordion-collapse collapse" aria-labelledby="headingEightBooking" data-bs-parent="#faqAccordionBooking">
                            <div class="accordion-body">
                                Да, но е необходимо да се свържете с нас, за да се уговорят условията. Не се гарантира автоматично приемане на резервацията. Контактите ни ще намерите <a target="_blank" asp-controller="StaticContent" asp-action="Contacts" class="text-primary">тук</a>.
                            </div>
                        </div>
                    </div>
                    <div class="accordion-item">
                        <h2 class="accordion-header" id="headingNineBooking">
                            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseNineBooking" aria-expanded="false" aria-controls="collapseNineBooking">
                                Какво се случва с резервацията ми, ако метеорологичните условия се променят?
                            </button>
                        </h2>
                        <div id="collapseNineBooking" class="accordion-collapse collapse" aria-labelledby="headingNineBooking" data-bs-parent="#faqAccordionBooking">
                            <div class="accordion-body">
                                Фотосесията за уговорената дата се отменя, но правото ви да се снимате остава. Можете да направите нова резервация за друг удобен ден без допълнителни такси.
                            </div>
                        </div>
                    </div>
                    <div class="accordion-item">
                        <h2 class="accordion-header" id="headingTenBooking">
                            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseTenBooking" aria-expanded="false" aria-controls="collapseTenBooking">
                                Какво се случва, ако моите или вашите планове се променят?
                            </button>
                        </h2>
                        <div id="collapseTenBooking" class="accordion-collapse collapse" aria-labelledby="headingTenBooking" data-bs-parent="#faqAccordionBooking">
                            <div class="accordion-body">
                                Фотосесията може да бъде отменена или преместена на друга дата, удобна за вас.
                            </div>
                        </div>
                    </div>
                </div>
                <h2 class="mt-5 text-primary">Онлайн галерия</h2>
                <div class="accordion mb-4" id="faqAccordionGallery">
                    <div class="accordion-item">
                        <h2 class="accordion-header" id="headingOneGallery">
                            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseOneGallery" aria-expanded="false" aria-controls="collapseOneGallery">
                                Какво е предимството на онлайн галерията пред „флашките“?
                            </button>
                        </h2>
                        <div id="collapseOneGallery" class="accordion-collapse collapse" aria-labelledby="headingOneGallery" data-bs-parent="#faqAccordionGallery">
                            <div class="accordion-body">
                                Едно от предимствата е в това, че отпада рискът от получаване на повредена USB памет, заради което трябва да се свързвате отново с фотографа и да чакате още време,
                                докато Ви бъде изпратена нова памет.
                                <br /><br />
                                Също така, за да прегледате снимки от USB памет, трябва или да изчакате да се приберете у дома, за да отворите „флашката“ през Вашия компютър, 
                                или трябва да имате лаптоп под ръка или друго устройство, което чете USB памет. Повечето смартфони не могат освен ако нямате адаптер за USB. 
                                През онлайн галерията може да разгледате снимките си в момента, в който те бъдат качени от нас от всяка една точка на света, стига да имате достъп до 
                                Интернет. Може да ги прегледате както на Вашия компютър, така и на смартфона Ви или на което и да е друго устройство, което има инсталиран 
                                уеб браузър и връзка с Интернет.
                            </div>
                        </div>
                    </div>
                    <div class="accordion-item">
                        <h2 class="accordion-header" id="headingTwoGallery">
                            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseTwoGallery" aria-expanded="false" aria-controls="collapseTwoGallery">
                                Как мога да прегледам снимките си през онлайн галерията?
                            </button>
                        </h2>
                        <div id="collapseTwoGallery" class="accordion-collapse collapse" aria-labelledby="headingTwoeGallery" data-bs-parent="#faqAccordionGallery">
                            <div class="accordion-body">
                                За да прегледате онлайн галерията си, първо трябва да сте влезли в профила си. След като сте влезли в профила си, от падащото меню в горния десен ъгъл 
                                изберете „Фотосесии“. Ще се появи списък с всичките ваши фотосесии. Намерете фотосесията, чиито снимки искате да разгледате и кликнете върху името ѝ. 
                                Под детайлите за фотосесията се намира вашата онлайн галерия. В случай, че все още няма качени снимки, 
                                ще видите съобщение „Снимките ще Ви очакват тук скоро“.

                            </div>
                        </div>
                    </div>
                    <div class="accordion-item">
                        <h2 class="accordion-header" id="headingThreeGallery">
                            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseThreeGallery" aria-expanded="false" aria-controls="collapseThreeGallery">
                                Получих имейл, че снимките от моята фотосесия са готови, но не ги виждам в онлайн галерията.

                            </button>
                        </h2>
                        <div id="collapseThreeGallery" class="accordion-collapse collapse" aria-labelledby="headingThreeeGallery" data-bs-parent="#faqAccordionGallery">
                            <div class="accordion-body">
                                Ако сте получили имейл за готови снимки, но не ги намирате, се свържете с нас. Нашите контакти може да намерите тук: <a target="_blank" asp-controller="StaticContent" asp-action="Contacts" class="text-primary">контакти</a>
                            </div>
                        </div>
                    </div>
                    <div class="accordion-item">
                        <h2 class="accordion-header" id="headingFourGallery">
                            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseFourGallery" aria-expanded="false" aria-controls="collapseFOurGallery">
                                Мога ли да изтегля всички снимки от онлйн галерията наведнъж?
                            </button>
                        </h2>
                        <div id="collapseFourGallery" class="accordion-collapse collapse" aria-labelledby="headingFourGallery" data-bs-parent="#faqAccordionGallery">
                            <div class="accordion-body">
                                Да, разбира се. Над галерията ще видите бутон „Изтегли албум“. Ще се изтегли архивен файл, в който се съдържат всичките снимки.
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!--FAQ End-->