@{
    ViewData["Title"] = "Общи условия за ползване";
}

<div class="container-xxl">
    <div class="container mt-5">
        <div class="col-lg-6 wow fadeInUp mx-auto text-center" data-wow-delay="0.5s">
            <div class="h-100">
                <h1 class="display-6 mb-4">@ViewData["Title"]</h1>
                <p>Прочетете Общите условия преди да използвате нашия уеб сайт</p>
                <hr class="w-50 mx-auto mb-5 mb-xl-9 border-dark-subtle">
            </div>
        </div>
    </div>
    <div class="container mt-5 container-terms-conditions">
        <h2>ОБЩИ УСЛОВИЯ ЗА ПРЕДОСТАВЯНЕ НА ФОТОГРАФСКИ УСЛУГИ</h2>
        <h4>Последна актуализация: 12.12.2025 г.</h4>
        <p>
            <b>
                Тези общи условия се отнасят до Photonic („Изпълнителят“) и всяко физическо или юридическо лице („Клиентът“), което
                заявява и/или ползва фотографски услуги, предлагани чрез сайта Photonic
                или чрез директен контакт.
                С изпращане на заявка за резервация, Клиентът потвърждава, че се е запознал и
                се съгласява с настоящите условия.
            </b>
        </p>
        <h5>1. Предмет на услугата</h5>
        <p><b>1.1.</b> Изпълнителят предоставя фотографски услуги, включително, но не само: портретни, събитийни, продуктови и други фотосесии.</p>
        <p><b>1.2.</b> Услугите се предоставят по заявка, направена чрез уебсайта, чрез контакт по телефон, имейл, социална мрежа или по друг начин, договорен между страните.</p>
        <h5>2. Онлайн резервации и потвърждение</h5>
        <p><b>2.1.</b> Онлайн резервацията се прави чрез попълване на уеб форма на сайта.</p>
        <p><b>2.3.</b> Клиентът получава потвърждение по имейл или телефон.</p>
        <p><b>2.4.</b> Възможно е изискване на капаро.</p>
        <h5>3. Резервации без използване на уеб сайта и потвърждения</h5>
        <p><b>3.1.</b> Резервации могат да бъдат направени и чрез имейл, лично съобшение в социална мрежа или друг писмен начин.</p>
        <p><b>3.2.</b> Изключение от писмените резервации прави тази, направена чрез телефонно обаждане, като това е и единственият начин за вербално резервиране на фотосесия. </p>
        <h5>4. Отмяна и промяна</h5>
        <p><b>4.1</b> Всеки клиент на Photonic има правото да отмени заявката си за изпълнение на услуга.</p>
        <p><b>4.1.</b> Клиентът може безплатно да отмени или промени заявка за изпълнение на усуга до 48 часа преди уговорената дата.</p>
        <p><b>4.2.</b> При по-кратък срок от 48 часа Изпълнителят има право да поиска неустойка от Клиента.</p>
        <p><b>4.3.</b> При неподоходящи метеорологични условия за изпълнение на улугата, тя може да се пренасрочи без допълнителна такса за друга възможна дата.</p>
    </div>
</div>

<style>
    .container-terms-conditions{
        color: #000;
    }

    .container-terms-conditions h1,h2,h3, h4, h5, h6{
        font-weight: 900;
        margin-top: 30px;
    }
</style>
