html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

html {
  position: relative;
  min-height: 100%;
}

label{
    margin-bottom: 10px;
}

.logo {
    width: 150px;
}

body {
  margin-bottom: 60px;
}

form .form-group{
    margin-bottom: 25px;
}

.card{
    margin-bottom: 20px;
}

.card img {
    width: 315px;
}

.photo-container img{
    width: 750px;
}

.logo-letters-pix {
    font-size: 0.7em;
}



/*Acount pages*/

#title {
    text-align: center;
    margin-top: 40px;
}

.col-account-form{
    margin: 0 auto;
}

.form-floating, .btn-account-submit {
    margin-top: 20px;
}

.checkbox {
    margin-top: 10px;
}

.account-prompt-container {
    margin-top: 20px;
}

.account-prompt-container .account-prompt {
    margin-left: 5px;
}