@{
    ViewData["Title"] = "Valentine's Day";
}

<div class="container py-5 my-5">
    <div class="row">
        <div class="col-12 text-center">
            <h1><span style="color:#F4C2C2; font-size:4rem">IVANA'S</span></h1>
            <h1>SPECIAL MENU</h1>
        </div>
    </div>
    <div class="row mt-5">
        <div class="col-12 mt-5">
            <h3>You can choose from variery of activities, selected with love and care for <span style="color:#F4C2C2">you</span>, like lots of kisses, food delivery, tea making and Hristiyan is obligated to deliver them at the moment!</h3>
        </div>
    </div>
    <div class="row mt-5">
        <div class="col-12 col-md-4">
            <div class="card">
                <div class="card-header">
                    <h4 class="card-title">Lots of Kisses</h4>
                </div>
                <div class="card-body">
                    <img src="~/img/Valentine/kiss-dog.jpg"/>
                </div>
            </div>
        </div>
        <div class="col-12 col-md-4">
            <div class="card">
                <div class="card-header">
                    <h4 class="card-title">Lots of Hugs</h4>
                </div>
                <div class="card-body">
                    <img src="~/img/Valentine/hug-dog.jpg" />
                </div>
            </div>
        </div>
        <div class="col-12 col-md-4">
            <div class="card">
                <div class="card-header">
                    <h4 class="card-title">Food</h4>
                </div>
                <div class="card-body">
                    <img src="~/img/Valentine/food.jpg" />
                </div>
            </div>
        </div>
        <div class="col-12 col-md-4">
            <div class="card">
                <div class="card-header">
                    <h4 class="card-title">Tea</h4>
                </div>
                <div class="card-body">
                    <img src="~/img/Valentine/tea.jpg" />
                </div>
            </div>
        </div>
        <div class="col-12 col-md-4">
            <div class="card">
                <div class="card-header">
                    <h4 class="card-title">Full Body Massage</h4>
                </div>
                <div class="card-body">
                    <img src="~/img/Valentine/massage-full-body.jpg" />
                </div>
            </div>
        </div>
        <div class="col-12 col-md-4">
            <div class="card">
                <div class="card-header">
                    <h4 class="card-title">Feet Massage</h4>
                </div>
                <div class="card-body">
                    <img src="~/img/Valentine/massage-feet.jpg" />
                </div>
            </div>
        </div>
    </div>
</div>

<style>
    .card{
        margin: 10px 0;
    }

    .card-header{
        background: #F4C2C2;
        text-align: center;
    }

    .card-body{
        margin: 0 auto;
        text-align: center;
    }

    .card-body img{
        width: 400px;
        text-align: center;
        margin: 0 auto;
    }
</style>