@{
    ViewData["Title"] = "Бизнес фотография в Пловдив | Бизнес портрети | Продуктова фотография | Рекламна фотография";
}

<!-- Page Header Start -->
<div class="container-fluid page-header py-5 mb-5 wow fadeIn" data-wow-delay="0.1s">
    <div class="container py-5">
        <h1 class="display-1 text-white animated slideInDown">Бизнес фотография</h1>
        <nav aria-label="breadcrumb animated slideInDown">
            <ol class="breadcrumb text-uppercase mb-0">
                <li class="breadcrumb-item"><a class="text-white" asp-controller="Home" asp-action="Index">Начало</a></li>
                <li class="breadcrumb-item text-primary active" aria-current="page">Бизнес фотография</li>
            </ol>
        </nav>
    </div>
</div>
<!-- Page Header End -->
<!-- Feature Business Photography Start -->
<div class="container-xxl py-5 mt-5">
    <div class="container">
        <div class="row g-5">
            <div class="col-lg-6 wow fadeInUp" data-wow-delay="0.5s">
                <div class="feature-img">
                    <img class="img-fluid" src="~/img/produktova-fotografiya-vino.jpg" alt="about3" style="max-height:650px">
                    <img class="img-fluid" src="~/img/biznes-portret-1.jpg" alt="about3" style="max-height:650px">
                </div>
            </div>
            <div class="col-lg-6 wow fadeInUp" data-wow-delay="0.1s">
                <h2 class="section-title">Бизнес <span class="text-dark">фотография</span></h2>
                <!--<h1 class="display-5 mb-4">Целта ни е </h1>-->
                <div class="row mt-5 g-4">
                    <div class="col-12">
                        <div class="d-flex align-items-start">
                            <h1><i class="fa-solid fa-shirt text-primary"></i></h1>
                            <div class="ms-4">
                                <h3>Продуктова фотография</h3>
                                <p class="mb-3">Подкрепете бизнеса си с професионална продуктова фотография, чрез която вашият продуктов каталог да изпъкне. В съвременния свят визуалният елемент играе ключова роля в продажбите. </p>
                                <p class="mb-0">Предлагаме професионална продуктова фотография за град Пловдив и цялата страна, с която ще ви помогнем да представите вашите продукти, така че те да говорят сами за себе си. </p>
                            </div>
                        </div>
                    </div>
                    <div class="col-12">
                        <div class="d-flex align-items-start">
                            <h1><i class="fa-solid fa-user-doctor text-primary"></i></h1>
                            <div class="ms-4">
                                <h3>Бизнес портрет</h3>
                                <p class="mb-0">Бизнес портретът не е просто „вашата снимка“, а стратегически инструмент, чрез който да се представите пред вашите клиенти. Чрез професионалния бизнес портрет Вие вдъхвате увереност в клиенти си и изграждате силно първо впечатление, което е от изключително значеие.</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-12">
                        <div class="d-flex align-items-start">
                            <h1><i class="fa-regular fa-calendar-days text-primary"></i></h1>
                            <div class="ms-4">
                                <h3>Заснемане на корпоративни събития</h3>
                                <p class="mb-3">Корпоративното събитие е отражение на Вашия бранд – професионалното му заснемане запазва емоцията, атмосферата и значимите моменти по впечатляващ начин, както и запечатва важните моменти и изгражда силно визуално присъствие за вашия бранд.</p>
                                <p class="mb-0">Във ФОТОНИК предлагаме заснемане на корпоративни събития за Пловдив и страната, като подхождаме индивидуално към нужните на вашия бизнес.</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Feature Business Photography End -->