@{
    ViewData["Title"] = "Фотосесия за абитуриенти | Фотосесия за абитуриенти в Пловдив | Фотограф за абитуриентски бал в Пловдив и страната";
}

<!-- Page Header Start -->
<div class="container-fluid page-header-prom py-5 mb-5 wow fadeIn" data-wow-delay="0.1s">
    <div class="container py-5">
        <h1 class="display-1 text-white animated slideInDown">Фотосесия за абитуриенти</h1>
        <nav aria-label="breadcrumb animated slideInDown">
            <ol class="breadcrumb text-uppercase mb-0">
                <li class="breadcrumb-item"><a class="text-white" asp-controller="Home" asp-action="Index">Начало</a></li>
                <li class="breadcrumb-item text-primary active" aria-current="page">Фотосесия за абитуриенти</li>
            </ol>
        </nav>
    </div>
</div>
<!-- Page Header End -->
<!-- Feature Business Photography Start -->
<div class="container-xxl py-5 mt-5">
    <div class="container">
        <div class="row g-5">
            <div class="col-lg-6 wow fadeInUp" data-wow-delay="0.5s">
                <div class="feature-img">
                    <img class="img-fluid" src="~/img/abiturienti-fotosesii-plovdiv-4.jpg" alt="about3" style="max-height:650px">
                    <img class="img-fluid" src="~/img/abiturienti-forosesii-plovdiv-2.jpg" alt="about3" style="max-height:650px">
                </div>
            </div>
            <div class="col-lg-6 wow fadeInUp" data-wow-delay="0.1s">
                <h2 class="section-title">Фотосесия за абитуриенти</h2>
                <!--<h1 class="display-5 mb-4">Целта ни е </h1>-->
                <div class="row mt-5 g-4">
                    <div class="col-12">
                        <div class="d-flex align-items-start">
                            <h1><i class="fa-solid fa-user-graduate text-primary"></i></h1>
                            <div class="ms-4">
                                <h3>Фотосесия за абитуриенти</h3>
                                <p class="mb-3">Абитуриентската вечер е един от най-вълнуващите моменти в живота на всеки ученик. Това е вечерта, в която празнувате края на едно важно приключение и началото на следващата голяма стъпка. Ще се погрижим да създадем красиви и стилни снимки, които ще Ви напомнят за него.</p>
                                <p class="mb-0">Във ФОТОНИК предлагаме фотосесии за абитуриенти в град Пловдив, както и да цялата страна. Ще получите красиви кадри, заснети с професионално отношение на предварително уговорена локация.</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-12">
                        <div class="d-flex align-items-start">
                            <h1><i class="fa-solid fa-photo-film text-primary"></i></h1>
                            <div class="ms-4">
                                <h3>Заснемане на подготовка за бал</h3>
                                <p class="mb-0">Грим, прическа, забързана динамика и вълнение за предстоящият бал - ще заснемев всичко това, неподправено, с цялата му емоция.</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Feature Business Photography End -->