@model IEnumerable<Place>

@{
    ViewData["Title"] = "Популярни локации";
}





<div class="container-xxl pb-5">
    <div class="container mt-5">
        <div class="col-lg-6 wow fadeInUp mx-auto text-center" data-wow-delay="0.5s">
            <div class="h-100">
                <p class="text-primary text-uppercase mb-2">@ViewData["Title"]</p>
                <h1 class="display-6 mb-4">Най-често посещаваните локации за фотосесии</h1>
                <p>Прочетете повече за популярните локации, които избираме най-често за фотосесии.</p>
                <hr class="w-50 mx-auto mb-5 mb-xl-9 border-dark-subtle">
            </div>
        </div>
    </div>
    <div class="container">
        <div class="row">
            <div class="col-12">
                <table class="table table-image">
                    <tbody>
                        @foreach (Place place in Model)
                        {
                            <tr>
                                <!--<td class="w-25">
                                    <a asp-controller="Place" asp-action="PlaceById" asp-route-id="@place?.Id"><img src="~/resources/places/@place?.PhotoBase?.FileName" class="img-fluid img-thumbnail" alt="place-thumb"></a>
                                </td>-->
                                @if (User?.Identity?.IsAuthenticated == true)
                                {
                                    if (User.IsInRole("Administrator"))
                                    {
                                        <td>@(place?.IsPopular == true ? "Popular" : "User")</td>
                                    }
                                }
                                <td scope="row"><a asp-controller="Place" asp-action="PlaceById" asp-route-id="@place?.Id">@place?.Name</a></td>
                                <td scope="row">@place?.Description
                                <td>
                                <td>@place?.City?.Name</td>
                                        @if (User?.Identity?.IsAuthenticated == true)
                                        {
                                            if (User.IsInRole("Administrator"))
                                            {
                                        <td>
                                            <a asp-action="Update" asp-controller="Place" asp-route-id="@place?.Id" class="btn btn-primary btn-sm">Update</a>
                                        </td>
                                            }
                                        }
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>

<style>
    .table-image tr:hover {
        cursor: pointer;
    }

    .table-image td, th {
       vertical-align: middle;
    }
</style>

<script>
    $(document).ready(function(){
        let scheme = "@Context.Request.Scheme";
        let host = "@Context.Request.Host";
        let path = "/Place/PlaceById"
        let id = 0;

        $("tr").mouseover(function () {
            id = this.id;
        });

        $(".clickable").click(function (){
            window.location = scheme + "://" + host + path + '/' + id;
        });
    });
</script>