@model IEnumerable<Place>

@{
    ViewData["Title"] = "Популярни места";
}



<section class="breadcrumb_area mt-5">
    <div class="overlay bg-parallax" data-stellar-ratio="0.8" data-stellar-vertical-offset="0" data-background=""></div>
    <div class="container">
        <div class="page-cover text-center">
            <h2 class="page-cover-tittle">Популярни локации</h2>
            <ol class="breadcrumb">
                <li><a asp-action="Index" asp-controller="Home">Начало</a></li>
                <li class="active">Популярни локации</li>
            </ol>
        </div>
    </div>
</section>
<div class="container my-5">
    <div class="section_title text-center">
        <h2 class="title_color">Популярни локации</h2>  
        <p>Списък на най-често посещаваните локации за фотосесии</p>
    </div>
    <div class="row">
        <div class="col-12">
            <table class="table table-image">
                <tbody>
                    @foreach (Place place in Model)
                    {
                        <tr> 
                            <td class="w-25">
                                <a asp-controller="Place" asp-action="PlaceById" asp-route-id="@place.Id"><img src="~/resources/places/@place?.PhotoBase?.FileName" class="img-fluid img-thumbnail" alt="place-thumb"></a>
                            </td>
                            @if (User?.Identity?.IsAuthenticated == true)
                            {
                                if (User.IsInRole("Administrator"))
                                {
                                    <td>@(place?.IsPopular == true ? "Popular" : "User")</td>
                                }
                            }
                            <td scope="row">@place?.Name</td>
                            <td scope="row">@place?.Description<td>
                            <td>@place?.City?.Name</td>
                            @if (User?.Identity?.IsAuthenticated == true)
                            {
                                if (User.IsInRole("Administrator"))
                                {
                                    <td>
                                        <a asp-action="Update" asp-controller="Place" asp-route-id="@place?.Id" class="btn btn-primary btn-sm">Update</a>
                                    </td>
                                }
                            }
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>
</div>

<style>
    .table-image tr:hover {
        cursor: pointer;
    }

    .table-image td, th {
       vertical-align: middle;
    }
</style>

<script>
    $(document).ready(function(){
        let scheme = "@Context.Request.Scheme";
        let host = "@Context.Request.Host";
        let path = "/Place/PlaceById"
        let id = 0;

        $("tr").mouseover(function () {
            id = this.id;
        });

        $(".clickable").click(function (){
            window.location = scheme + "://" + host + path + '/' + id;
        });
    });
</script>