@model PlaceDTO

<div class="container container-create-place">
    <div class="row">
        <div class="col-12 col-md-6 col-lg-4">
            <form asp-action="Create" method="post" enctype="multipart/form-data">
                @Html.AntiForgeryToken()
                <div class="form-group">
                    <label asp-for="Place.Name"></label>
                    <input asp-for="Place.Name" class="form-control" />
                </div>
                <div class="form-group">
                    <label asp-for="Place.Description"></label>
                    <textarea asp-for="Place.Description" class="form-control" rows="5"></textarea>
                </div>
                <div class="form-group">
                    <label asp-for="Place.GoogleMapsURL"></label>
                    <input asp-for="Place.GoogleMapsURL" class="form-control" />
                </div>
                <div class="form-group">
                    <label asp-for="Place.IsPopular"></label>
                    <input asp-for="Place.IsPopular" class="form-check-inline" />
                </div>
                <div class="form-group">
                    <label asp-for="Cities"></label>
                    <select asp-for="Place.CityId" asp-items="@(new SelectList(Model.Cities, "Id", "Name"))" class="form-control">
                        <option value="" selected></option>
                    </select>
                </div>
                <div class="form-group">
                    <label asp-for="File"></label>
                    <input asp-for="File" class="form-control"/>
                </div>
                <button type="submit" class="btn btn-warning text-white">Update</button>
            </form>
        </div>
    </div>
</div>
<style>
    .container-create-place{
        margin-top: 150px;
        margin-bottom: 150px;
    }
</style>