@model PlaceByIdDTO

@{
    ViewData["Title"] = Model.Name;
}

<div class="container container-place">
    <div class="row row-place">
        <div class="col-12 col-md-6 col-lg-8 text-center col-place">
            <img src="~/resources/places/@Model.PhotoFileName" alt="place image" class="place-img"/>
        </div>
        <div class="col-12 col-md-6 col-lg-4 col-place-title">
            <h2>@Model.Name</h2>
            <p>@Model.Description</p>
        </div>
    </div>
    <div class="row row-place-photos-title">
        <div class="col-12 col-place-photos-title text-center">
            <h2>Снимки от локацията</h2>
        </div>
    </div>
    <div class="row row-place-photos mt-5">
        @foreach (PhotoShootPhoto photo in Model?.Photos ?? new())
        {
            <div class="col-md-4 mt-3 text-center mx-auto">
                <img src="~/resources/@photo.FilePath/@photo.FileName" alt="gallery-photo" />
            </div>
        }
    </div>
</div>

<style>
    .place-img {
        width: 768px !important;
    }

    .container-place{
        margin-top: 150px;
        margin-bottom: 200px;
    }

    .container-place .row-place-photos-title{
        margin-top: 100px;
        padding: 20px 10px;
        background: #ededed;
        font-weight: bold;
    }

    .container-place .row-place-photos-title h2{
        font-weight: bold;
    }

    @@media only screen and (max-width: 768px){
        .place-img {
            width: 350px !important;
        }

        .container-place {
            margin-top: 50px;
            margin-bottom: 20px;
        }

        .container-place .row-place .col-place-title{
            margin-top: 20px;
        }

        .container-place .row-place-photos-title{
            margin-top: 30px;
        }
    }
</style>