@model DynamicContent

@{
    ViewData["Title"] = Model.Title;
}

<div class="container">
    <partial name="_DynamicContentHeader" model="Model.Title"/>
    <div class="row mt-2">
        <div class="col-12 col-data">
            <span>Създадена на: <span class="data"><b>@(Model.CreatedOn.ToString("dd.MM.yyyy") + " г.")</b></span></span> <b>-</b> Време за четене: <span class="data"><b>@(Model.ReadingTime == 0 ? "< 1 мин" : Model.ReadingTime + "мин")</b></span>
        </div>
    </div>
    <div class="row row-content mt-5">
        <div class="col-12 col-md-6 col-lg-4 col-banner">
            <img style="width:350px" id="image" src="~/resources/images/@(Model.ImageName)"/>
        </div>
        <div class="col-12 col-md-6 col-lg-8 col-content">
            <p id="content"></p>
        </div>
    </div>
</div>

<style>
    #title{
        font-size: 3rem;   
    }

    #image{
        border-radius: 8px;
        box-shadow: 0px 0px 10px -2px #8cb0db;
    }

    .data{
        color: #ffc800;
    }

    .row-content{
        margin-top: 50px;
    }
</style>

<script>
    $(document).ready(function () {
        $("#content").html(`@Html.Raw(Model.Content)`);
    });
</script>
