@model DynamicContent

@{
    ViewData["Title"] = Model.Title;
}

<div class="container">
    <h2>@Model.Title</h2>
</div>
<div class="container mb-5">
    <div class="row">
        <div class="col-12 col-md-6 col-lg-7">
            <div class="row">
                <div class="col-12 mt-4 col-banner">
                    <img style="width:750px" id="image" src="~/resources/images/@(Model.ImageName)" />
                </div>
                <div class="col-12 mt-4 col-content">
                    <p id="content"></p>
                </div>
            </div>
        </div>
        <div class="col-12 col-md-6 col-lg-3 mt-4 px-5 mx-auto col-more-content">
            <div class="more-title mb-4">
                <h6>Прочетете още</h6>
                <hr />
            </div>
            @{
                bool isFirst = true;
            }
            @foreach (DynamicContent content in Model?.DynamicContentCategories?.DynamicContents.ToList())
            {
                if (isFirst)
                {
                    isFirst = false;
                    continue;
                }

                <div class="mx-auto mt-3">
                    <img style="width:200px" src="~/resources/images/@(content?.ImageName)" alt="more-image">
                    <div>
                        <a asp-action="Content" asp-controller="DynamicContent" asp-route-id="@content?.Id"><h6>@content?.Title</h6></a>
                        <span class="more-details"><i class="lnr lnr-calendar-full"></i> @content?.CreatedOn.ToString("dd.MM.yyy г hh:mm ч")</span> <span class="more-details"><i class="lnr lnr-clock"></i> @(content?.ReadingTime == 0 ? "< 1 мин" : content?.ReadingTime + "мин")</span>
                    </div>
                </div>
            }
        </div>
    </div>
</div>

<style>
    #title{
        font-size: 3rem;   
        box-shadow: 0px 0px 10px -2px #8cb0db;
    }

    .data{
        color: #ffc800;
    }

    .col-content img{
        width: 80%;
        height: 80%;
    }

    .col-more-content a {
        color: #000;
    }

    .col-more-content img {
        border-radius: 5%;
    }

    .col-more-content .blog_details .more-details {
        font-size: .8rem;
    }

    @@media only screen and (max-width: 1115px) {
        .col-banner img {
            width: 500px !important;
            margin-bottom: 30px;
        }
    }

    @@media only screen and (max-width: 995px) {
        .col-banner img {
            width: 350px !important;
            margin-bottom: 30px;
        }
    }
</style>

<script>
    $(document).ready(function () {
        $("#content").html(`@Html.Raw(Model.Content)`);
    });
</script>
