@model Order

@{
    ViewData["Title"] = "OrderInfo";
}
<div class="container" id="dropin-container"></div>
<div class="container">
    <div class="row mt-4">
        <h1>Your order</h1>
    </div>
    <hr />
    <div class="row mt-2">
        <div class="col-12 col-md-6 col-lg-4 mx-auto">
            <form asp-action="Create" method="POST" id="payment-info-form">
                @Html.AntiForgeryToken()
                <input type="hidden" asp-for="Photo.Id"/>
                <input type="hidden" asp-for="Photo.PhotoCategories"/>
                <input asp-for="Nonce" style="display:none"/>
                <div class="form-group">
                    <label asp-for="Photo.Name"></label>
                    <input asp-for="Photo.Name" class="form-control" readonly />
                </div>
                <div class="form-group">
                    <label asp-for="Date"></label>
                    <input type="hidden" asp-for="Date" />
                    <input class="form-control" value="@Model.Date.ToString("yyyy-MM-dd")" readonly />
                </div>
                <div class="form-group">
                    <label asp-for="PhotoSize"></label>
                    <input type="hidden" asp-for="PhotoSize" />
                    <input class="form-control" value="@Model.PhotoSize" readonly />
                </div>
                <div class="form-group">
                    <label asp-for="Photo.Price"></label>
                    <input asp-for="Photo.Price" class="form-control" readonly/>
                </div>
                <button id="submit-button" type="submit" class="btn btn-primary">Finish Order</button>
            </form>
        </div>
         <div class="col-12 col-md-6 col-lg-8 mx-auto photo-container">
            <img src="~/resources/gallery-photos/@(PhotoSize.Small.ToString() + "_" + Model?.Photo?.FileName)"/>
        </div>
    </div>
</div>

<style>
    .photo-container img{
        width: 600px;
    }
</style>

<script src="https://js.braintreegateway.com/web/dropin/1.36.1/js/dropin.min.js"></script>
<script>
    var client_token = "@ViewBag.ClientToken";
    var form = document.querySelector('#payment-info-form');

    braintree.dropin.create({
        authorization: client_token,
        container: '#dropin-container'
    }, function (createErr, instance) {
        form.addEventListener('submit', function (event) {
            event.preventDefault();

            instance.requestPaymentMethod(function (err, payload) {
                if (err) {
                    return;
                }

                document.querySelector('#Nonce').value = payload.nonce;
                form.submit();
            });
        });
    });
</script>
<script>
    $(document).ready(function () {
        if ($("#Photo_Price").val().includes('.')) {
            let priceNumbers = $("#Photo_Price").val().split('.');
            let integer = priceNumbers[0];
            let decimal = priceNumbers[1];
            let price = integer + ',' + decimal;
            $("#Photo_Price").val(price);
        }
    });

</script>

